[2016-10-06 05:15] promentol opened #1 "React integration?"
I was reading this new post
https://github.com/mean-expert-official/loopback-sdk-builder/wiki/8.-(NEW)-FireLoop-API#how-to-create-data

Will there be integration with React? React ecosystem have React-Native, and FireLoop can be really useful for native apps built by React-Native

[2016-10-06 11:20] jonathan-casarrubias commented on #1
Hello @promentol thanks for reaching out.

Hey so, in the long term I expect to integrate with different frameworks, once everything is stable in Angular 2 and I create the actual framework, not just the modules as stated in the documentation.

Anyway, once everything is working in Angular 2, I think It will be much easier to port to other frameworks like react.

Also, I'm always leading to where

[2016-10-25 20:59] jonathan-casarrubias opened #2 "generator metadata not correctly installed"
This won't allow to create client applications

[2016-10-25 21:51] #2 closed, assigned to nobody

[2016-10-27 13:47] jonathan-casarrubias commented on #1
Now that the FireLoop CLI and the Angular 2 integration is getting mature I'm starting to consider in creating a JavaScript SDK that can be used in other frameworks.

So I have added the enhancement label. 21 days to start considering was not so long. :)

[2016-10-27 18:00] jonathan-casarrubias opened #3 "Add FireLoop Dedicated Documentation"

[2016-10-27 18:01] jonathan-casarrubias opened #4 "Add .github files for contributions"

[2016-10-27 18:01] jonathan-casarrubias opened #5 "Integrate NativeScript"

[2016-10-27 18:01] jonathan-casarrubias opened #6 "Integrate Ionic"

[2016-10-27 18:02] jonathan-casarrubias opened #7 "Integrate Angular CLI"

[2016-10-27 18:02] jonathan-casarrubias opened #8 "Integrate LoopBack Generator"

[2016-10-27 18:02] jonathan-casarrubias opened #9 "Integrate FireLoop Generator"

[2016-10-27 18:03] jonathan-casarrubias opened #10 "Integrate SDK Builder"

[2016-10-27 18:03] jonathan-casarrubias opened #11 "Integrate RealTime Module"

[2016-10-27 18:03] jonathan-casarrubias opened #12 "Auto-configure Modules"

[2016-10-27 18:06] jonathan-casarrubias opened #13 "Integrate Angular Universal"

[2016-10-27 18:08] jonathan-casarrubias opened #14 "Implement TypeScript in the BackEnd"

[2016-10-27 18:09] jonathan-casarrubias opened #15 "Implement Nodemon for typescript backend development"

[2016-10-28 15:54] John0x opened #17 "[Windows 10] CLI just closing"
Hey, I've tried running the cli. The problem is that it just closes my cmd. No output or whatsoever.

I guess it just not intended to work, right?

[2016-10-28 15:58] jonathan-casarrubias commented on #17
Hey @John0x thanks for reaching me out!

I'm glad people is starting to use this platform. So, just to understand the context... You just installed `npm install -g @mean-expert/fireloop`, and when you run the command `$ fireloop` it just closes? no command, nothing displayed?.

If that is the case, would you mind if you describe your environment?

OS?
Node Version?
NPM Version?

I will try to veri

[2016-10-28 16:17] John0x commented on #17
Hey,

yeah, thats exactly what I did.
OS: windows 10 insider build 64bit
Node: 3.10.8
node: 7.0.0

It closes the entire window not just runs through without output.

[2016-10-28 16:25] jonathan-casarrubias commented on #17
I see...

I just verified in another Mac and does work, I'm testing with same npm and node version you have... It seems is something related to Windows.

I'll need to get one windows machine to test, it may be something simple but ok looks like I know how to replicate this then.

[2016-10-28 16:37] John0x commented on #17
When I start the fireloop.cnddireclty (in %AppData%\npm\fireloop.cmd) it works without problems.

[2016-10-28 16:46] jonathan-casarrubias commented on #17
Hey @John0x thanks for looking at it, so the `generator-fireloop` should be automatically installed as a dependency when you install the cli.

Inside the CLI Tool I use require.resolve to get the module filesystem directory and then execute the generator which is the one that actually bundle everything together.

So it looks like its trying to get this generator file `generator-fireloop/generators

[2016-10-28 17:09] John0x commented on #17
Hey, I first tried to install it using yarn, but then removed it again from yarn.
Seems like it wasn't cleaned up or something.

It works now, after deleting everything manually.
Thanks for your help and keep up the great work! :)

[2016-10-28 17:12] jonathan-casarrubias commented on #17
Awesome!!! I'm glad it loads now!!! That was scary lol...

So it still is on alpha version, but good progress is on it. The goals is to provide a single tool that bundles all (Including Universal -Soon Soon-).

I hope you have fun this with new technology.

Cheers!!!
Jon

[2016-10-28 17:12] #17 closed, assigned to jonathan-casarrubias

[2016-10-29 11:36] John0x opened #18 "Loopback v3 support"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question
#### What version of this module are you using?

Newest from npm
#### Please add a description for your issue:

Just wondering whether or not fireloop currently supports the pre-release version of loopback v3?

[2016-10-29 12:37] John0x opened #19 "Install failed due to Fiber"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question
#### What version of this module are you using?

Newest from NPM
Node: v7.0.0
Npm: v3.10.8
OS: Windows 10 insider
#### Please add a description for your issue:

Hey, I tried to install/update fireloop this morning and it doesn't install the packages properly anymore.
Command: npm install -g @mean-expert/fireloop
T

[2016-10-29 13:04] jonathan-casarrubias commented on #19
Hi @John0x, yesterday I gave a training and we were having similar issues also with some dependencies not being installed by NPM.

Actually we just installed again and the issue disappeared, but I believe this is all after I integrated nativescript, it seems there are too many dependencies to be installed that some fail.

I believe I will rollback the nativescript part and see it returns to stabil

[2016-10-29 13:15] John0x commented on #19
Hey @jonathan-casarrubias, I tried to remove everything and install it again (and twice without removing), though came to the same result.

[2016-10-29 13:28] jonathan-casarrubias commented on #19
@John0x , I'm about to publish a rollback without nativescript and see if does install now.

It will be in around 10m

[2016-10-29 13:30] jonathan-casarrubias commented on #18
@John0x yes it does, but lets break into parts.

1.- The fireloop server is almost 100% loopback but for the mean-experts's modules and models in typescript, so whatever that works in a regular loopback v3 app, should work here.

2.- The SDK Builder already implements a fix to create the SDK for both, version 2 and 3.... Though I verified a couple of months ago, no body added a bug for it.

Cheers

[2016-10-29 13:40] jonathan-casarrubias commented on #19
@John0x is published now.

Im trying:

[code]

I'll verify if does install now

[2016-10-29 13:44] jonathan-casarrubias commented on #19
Ok great, it seems to be working again... Could you confirm

[2016-10-29 15:10] John0x commented on #19
Confirming. Installs again, without problems. Thanks :)

[2016-10-29 15:10] #19 closed, assigned to jonathan-casarrubias

[2016-10-29 15:43] jonathan-casarrubias commented on #19
Awesome!!! I believe I will need to delegate the installation of the client modules instead of trying to install all,.

What do you think of this:

FireLoop will detect if the user has installed a core client dependency, e.g. `nativescript | angular-cli | ionic`, in which case I would enable the respective section within fireloop, instead of trying to install all through the FireLoop installation.

[2016-10-29 18:38] John0x commented on #19
Hey @jonathan-casarrubias, great, thanks for your help :)
Well, in my case for example, I have all three dependencies installed (globally), but I would only want to use one of the three iny my fireloop project.
I think the best option would be just to ask the user upon initializing (first time running fireloop), which dependencies he want's to use.

Alternateviley you could just mention in the rea

[2016-10-30 03:48] #18 closed, assigned to jonathan-casarrubias

[2016-10-31 14:36] jonathan-casarrubias opened #20 "Change let for var in fireloop cli for backwards compatibility"
#### What type of issue are you creating?
- [ ] Bug
- [X] Enhancement
- [ ] Question

#### What version of this module are you using?
Current

#### Please add a description for your issue:
In older version of node there is an error of blocked scoped that could be fixed by adding 'use strict' but I would rather prefer to change that to var and make it backwards compatible.

Reference issue: https:/

[2016-10-31 20:28] jonathan-casarrubias commented on #20
This issue has been fixed and released under version alpha 22

Cheers
Jon

[2016-10-31 20:28] #20 closed, assigned to jonathan-casarrubias

[2016-11-01 13:21] sskhokhar opened #21 "[Windows] System cannot find path speficied"
There is an error while creating Angular2 Web using fireloop command

Creating new Angular 2 Application: webapp
The system cannot find the path specified.
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: spawn C:\Users\Shahrukh Shahid\AppData\Roaming\npm\node_modules\@mean-exp
ert\fireloop\node_modules\angular-cli\lib\cli\index.js.bin/ng  ENOENT
    at notFoundError (C:\Us

[2016-11-01 14:26] jonathan-casarrubias commented on #21
Hi @sskhokhar, thanks for reaching out!!!

Hey so, yes I think I know the issue I will update the path resolver for windows based filesystem

Thanks for reporting

[2016-11-01 14:46] jonathan-casarrubias commented on #21
@sskhokhar I just published a new version, I updated the regex for the angular cli path resolver. Though I'm unable to test in a windows machine the regex was tested using backslashes.

Would you mind to update to alpha 23 and see if works now?

Thanks
jon

[2016-11-01 16:49] sskhokhar commented on #21
@jonathan-casarrubias I updated to alpha 23 but error still persists

Creating new Angular 2 Application: webapp
'"C:\Users\Shahrukh Shahid\AppData\Roaming\npm\node_modules\@mean-expert\fireloo
p\node_modules.bin/ng "' is not recognized as an internal or external command,
operable program or batch file.
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: spawn C:\Users\Shahruk

[2016-11-01 19:26] jonathan-casarrubias commented on #21
Ok I just published another approach in alpha 24, I believe this will be the right one... I'm using path now to resolve the file system directory.

[2016-11-01 20:21] sskhokhar commented on #21
Yet another error. It generates the angular 2 app but gives error while generating SDK.

[code]

   `---------'   │           SDK!           │
    ( _'U`_ )    ?──────────────────────────?
    /**_A**_\   /
     |  ~  |
   **'._**.'__
 '   `|° ' Y`

Generating: webapp/src/app/app.module.ts
Generating: webapp/src/tsconfig.json
Generating: webapp/src/typings.d.ts
The system cannot find the path spec

[2016-11-01 20:33] jonathan-casarrubias commented on #21
I see, same error but in another generator.

So, the one that generates the angular 2 has been fixed then. But now I will go through the rest of the generators and search for paths.

This error seems to be now within the SDK generator and now I can assume the one that serves the application will have the same issue.

I appreaciate your patience.
Cheers
Jon

[2016-11-01 21:41] jonathan-casarrubias commented on #21
I just went through all of the generators and updated any directory reference to use normalized paths.

It still is working in Mac, its unfortunate I don't have a win machine around available but I believe that if the ng2 generator already worked, the rest should now work.

[2016-11-02 10:42] sskhokhar commented on #21
Error!

[code]

   `---------'   │           SDK!           │
    ( _'U`_ )    ?──────────────────────────?
    /**_A**_\   /
     |  ~  |
   **'._**.'__
 '   `|° ' Y`

SyntaxError: missing ) after argument list
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at

[2016-11-02 12:14] jonathan-casarrubias commented on #21
well, is not complaining about a directory anymore.. But this new error is anything but specific. It says  ) is missing but I dont see where... Ill need to get a win machine to debug this.

Also Ill try to install a VM, I will need to get a copy of win then lol.

sight..

[2016-11-02 12:31] jonathan-casarrubias commented on #19
Hi @John0x, thanks for your comments I will address these and delegate the core dependencies to users.

Also I got this other issue: https://github.com/mean-expert-official/fireloop.io/issues/21 where it seems that nothing works in windows.

Since you just created an issue for the installation I'm wondering if you was totally unable to do anything like in the #21.

I'm having a hard time here beca

[2016-11-02 13:05] sskhokhar commented on #21
I tried to debug the issue but infact I couldnt find the file as mentioned

C:\Users\Shahrukh Shahid\AppData\Roaming\npm\node_mod
ules\@mean-expert\fireloop\node_modules\ts-node\src_bin.ts

[2016-11-02 15:37] jonathan-casarrubias commented on #21
Yes the issue seems to be thrown from ts-node.

The good news is that I was able to get a win10 lap, so I will setup and test before publishing

Thanks for looking at the issue.

Regards
Jon

[2016-11-02 16:40] John0x commented on #19
Hey @jonathan-casarrubias generating the projects worked for me without problems. I'll test it again with the newest version and leave a comment on the #21 issue.

[2016-11-02 18:27] jonathan-casarrubias commented on #21
Hey @sskhokhar good news, having access to a win machine I found there were several issues ahead.

The great news is that I already fixed most of them, there are no bad news... just the time I need to finish and publish.

Cheers
Jon

[2016-11-02 19:10] sskhokhar commented on #21
Hi @jonathan-casarrubias glad to know that you have fixed errors. Now you must use virtual machine with windows for further development.
I want to ask you something, would you please bother to share your email address?

Regards,

[2016-11-02 19:44] jonathan-casarrubias commented on #21
sure my email is public in the home of this repo: https://github.com/mean-expert-official

but shortcut: jcasarrubias@mean.expert

[2016-11-03 00:28] jonathan-casarrubias commented on #21
Hey @sskhokhar after several hours I fixed and tested the fireloop cli working in windows. At least at the same level as in mac or linux.

Of course this is still alpha version and there are features not yet implemented. Though it is enough to build a complex real-time web application.

I saw your email, I'll take the time to answer in the morning..

Cheers
Jon

[2016-11-15 00:24] jonathan-casarrubias opened #22 "Community Questions"
Use this thread for community questions

[2016-11-23 09:07] tobibrandenberg commented on #22
How to implement route changes with realtime? If I change route, data will be displayed for the first time, but if I call the route again, nothing appears... Only after doing reload.

[2016-11-23 15:16] kattsushi commented on #22
How to migrate callbacks from loopback methods to models and that work reactively with the rxjs? Library, and that return observables in an automated process, the thought that with a sdk fork could generate those scripts in typescript, but I think Which should be at the moment of generating the model with fireloop

[2016-11-23 15:17] jonathan-casarrubias commented on #22
Hey @tobibrandenberg thanks for reaching out,

I recently had that issue reported on this so I need to verify and send a fix asap.

But I'm working in a major milestone so it can take some days before I send a fix included for this issue.

[2016-11-23 15:19] jonathan-casarrubias commented on #22
Hi @kattsushi, for loopback methods you refer to remote methods?

[2016-11-23 15:29] kattsushi commented on #22
hi @jonathan-casarrubias nop to genarate Model.ts with fireloop, i refer methods of the model example
Model.find( ) Model.findById() Model.updateAtr... etc.  each model in my api loopback, the remote methods are resolved with the decorator @Model({..})

[2016-11-23 15:42] jonathan-casarrubias commented on #22
Ok so these are the PersistedModel inherited methods, so you are asking about the callback for these?

I think Im understanding the case, so since -almost- everything is an asynchronous  process, I usually use async in the backend for my flows.

For instance

[code]

So I have been historically doing this, about changing the PersistedModel method to return observables that can be done if we create

[2016-11-23 16:07] kattsushi commented on #22
@jonathan-casarrubias yes thanks for clear out this, yes i think good one idea, in fact it also happens that when generating the Model.ts with fireloop when changing PersistedModel methods to return observable they can be injected something similar to what happens with the decorator @Inyectable ({}),

I try to contribute with this, I am not an expert in typescript I've been with him for 4 months a

[2016-11-23 17:16] jonathan-casarrubias commented on #22
Hey @kattsushi this is what I like of community effort, I believe a decorator to inject these methods would be super cool.

At the beginning the idea was more likely to create facades for LoopBack but many great ideas are coming and seems that maybe I will need to create an actual directory here similar to the loopback repository that holds our new PersistedModel with observables and including the

[2016-11-24 22:42] jonathan-casarrubias commented on #22
hey @tobibrandenberg I have fixed the issue within the SDK Builder repository, since the bug was found in there. https://github.com/mean-expert-official/loopback-sdk-builder/issues/223

The fix will be landed within the next release

[2016-11-29 23:13] brannon-darby commented on #22
What's the best way to send a LoopBack email using FireLoop?  Can you provide an example?

[2016-12-01 22:46] jonathan-casarrubias commented on #22
Hey @bdarby86 I don't see a way to directly send emails from FireLoop, but I'm pretty sure that if you send the emails from hooks, these hooks will be executed after you run FireLoop operations.

Example;

Think in a `EmailNotification` entity, if you add an after save hook that sends an email, after you create with your FireLoop Reference a emailNotification instance, then the email would be sent

[2016-12-05 23:38] vwchu opened #24 "Define Models declaratively in TypeScript via Decorators"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
Fireloop Alpha 36

#### Please add a description for your issue:

In addition to generating TypeScript Models, it would be incredibly useful and significant improve the usability if the models could be define declaratively completely within TypeScript using Decorato

[2016-12-06 02:22] jonathan-casarrubias commented on #24
Hey @vwchu that is such a great idea.

I need to fix any new issue created after the SDK builder RC breaking changes, but I will definitely consider this improvement really soon.

[2016-12-07 17:25] jonathan-casarrubias commented on #24
I'm updating this repository structure to keep all of the modules in one place, it will be much easier to track for everyone, though I will still publish them in NPM as separated modules.

https://github.com/mean-expert-official/fireloop.io/tree/master/decorators

That is the directory for decorators and will be adding features like the requested in here.

cheers
Jon

[2016-12-07 19:34] brannon-darby commented on #22
@jonathan-casarrubias

Yes, that's exactly what I ended up doing - thanks for your help.  The question was mainly due to my lack of experience with LoopBack - I was able to find an example in their docs and leverage the beforeSave operation hook auto-generated by FireLoop:

[code]

At this point, I have a basic app built, but I've been struggling for several days attempting to serve it from an Ama

[2016-12-07 20:05] jonathan-casarrubias commented on #22
Hey @bdarby86 that is exactly what I do, I install nginx then I create a block -virtual host- and with proxy pass as gateway for my applications, this way you set a domain for your project serving in port 80 and redirected to any 3000, 3001, etc. ports

[2016-12-07 20:27] brannon-darby commented on #22
@jonathan-casarrubias Would you mind sharing a sample nginx config?  I may just be configuring it incorrectly.

[2016-12-12 13:33] james-lau opened #26 "Fail to generate Angular2 client"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
FireLoop Version: 1.0.0-alpha.36

#### Please add a description for your issue:
When running the "Generate Angular2 Client" option, the following error appear
[errorlog.txt](https://github.com/mean-expert-official/fireloop.io/files/646073/errorlog.txt)

[2016-12-12 15:15] jonathan-casarrubias commented on #26
Hey @james-lau thanks for reporting, there is a new SDK Builder version and I believe it broke the process of generating an app.

I will verify and send a fix ASAP.

Cheers
Jon

[2016-12-14 22:55] brannon-darby commented on #22
Here's an nginx config that seems to be working well for me - figured I'd share in case it might be useful for anyone else:

[code]

Some notes around my specific setup:

- Load Balancer listening for web requests on ports 80 and 443 in front of app servers

- HTTPS terminates at the Load Balancer, where requests are decrypted and passed to app servers via HTTP (simplifies server to server communi

[2016-12-15 08:58] yagobski commented on #26
any update?

[2016-12-15 13:10] jonathan-casarrubias commented on #26
Hi @yagobski thanks for reaching out,

Hey so yes... The SDK Builder has been fixed, I have been fixing also anything related to building apps and sdks for NativeScript using the FireLoop CLI..

I estimate that by the following couple of days I will be publishing a fixed version for web apps.

Cheers
Jon

[2016-12-21 14:45] jonathan-casarrubias commented on #26
~~Ok some issues presented on the SDK needed my attention... But yesterday launched the RC 6 and now I'm focusing on fixing all of this.~~

I have been working on this but I was unable to replicate the exact issue, thought I had to fix other issues related to the SDK Builder updates.

Analyzing the stack you posted here, I see you are in windows, I'm wondering if you both are in windows machine? I

[2016-12-21 18:27] #4 closed, assigned to jonathan-casarrubias

[2016-12-21 18:27] #5 closed, assigned to jonathan-casarrubias

[2016-12-21 18:27] #6 closed, assigned to jonathan-casarrubias

[2016-12-21 18:27] #7 closed, assigned to jonathan-casarrubias

[2016-12-21 18:28] #8 closed, assigned to jonathan-casarrubias

[2016-12-21 18:28] #9 closed, assigned to jonathan-casarrubias

[2016-12-21 18:28] #10 closed, assigned to jonathan-casarrubias

[2016-12-21 18:28] #11 closed, assigned to jonathan-casarrubias

[2016-12-21 18:29] #12 closed, assigned to jonathan-casarrubias

[2016-12-21 18:29] #14 closed, assigned to jonathan-casarrubias

[2016-12-21 18:29] #15 closed, assigned to jonathan-casarrubias

[2016-12-21 18:49] jonathan-casarrubias opened #27 "Update model and properties creation to avoid loopback-generator issues"
#### What type of issue are you creating?
- [ ] Bug
- [X] Enhancement
- [ ] Question

#### What version of this module are you using?

#### Please add a description for your issue:

When using loopback-generator it request the name of a model, when that happen if the user answer the question it does break the flow.

Update generator-fllb to create models without those issues and also update server

[2016-12-21 18:50] jonathan-casarrubias opened #28 "Update templates to install the right SDK[Env]Module"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?

#### Please add a description for your issue:

Templates are behind from what the SDK Builder is generating, the generator templates need to be updated to install the right modules

[2016-12-21 22:50] jonathan-casarrubias opened #32 "Add ability for users to select SDK Builder options"
#### What type of issue are you creating?
- [X] Enhancement

#### What version of this module are you using?
alpha.38

#### Please add a description for your issue:

Currently there is no way to decide if the SDK will be fireloop-only, io enabled, etc. A UI needs to be created in order to let users set these values while using the fireloop-cli

[2016-12-22 18:12] #28 closed, assigned to nobody

[2016-12-22 18:13] #27 closed, assigned to jonathan-casarrubias

[2016-12-22 20:20] jonathan-casarrubias opened #34 "JOIN THE COMMUNITY"
Hey guys, for all the people that wants to be more involved in the FireLoop Project.

Send me an email to jcasarrubias@mean.expert and I will send you an invite to the FireLoop Slack Channel.

Cheers
Jon

[2016-12-26 16:02] jonathan-casarrubias opened #36 "Implement Hexo cms with Material Theme for FireLoop.io Docs"
#### What type of issue are you creating?
- [X] Enhancement

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)

#### Please add a description for your issue:

We need to start working in better documentation that also implements i18n, for this we are going to create a new docs directory within this repo, create an hexo project and install the material design template.

[2016-12-27 23:50] jonathan-casarrubias opened #41 "Implement LoopBack Typings"
#### What type of issue are you creating?
- [X] Enhancement

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)

#### Please add a description for your issue:

In order to have a complete experience in TypeScript, we need to add the typings for a LoopBack App, so can provide a better development experience

1.- Add a copy of the type definitions, within the generator-f

[2016-12-27 23:51] jonathan-casarrubias opened #42 "Implement package.json in root of the project to avoid deployment issues"
#### What type of issue are you creating?
- [X] Bug

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)

#### Please add a description for your issue:
We need to generate a package.json within the root of the project that will avoid deployment issues when no having a package.json placed in the root directory,

In addition we should ask for the name of the fireloop proj

[2016-12-27 23:52] #26 closed, assigned to nobody

[2016-12-28 17:15] ellipizle opened #43 "Support for LoopBack V3"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] Release 1.0.0-beta.1.3
- [ ] Other

Write other if any:

#### Please add a description for your issue:

I am using this version of fireloop (Release 1.0.0-beta.1.3) .
new i issue this command `fireloop`
After selecting Generate Fireloop Project, it skipped the

[2016-12-28 18:52] brannon-darby commented on #43
hi @Ellipizle

FireLoop currently only supports LoopBack v2, as there are issues to solve with v3 before we can support it.  v3 will be supported once those issues are resolved.

[2016-12-28 19:04] jonathan-casarrubias commented on #43
Note: This may also require modifications within the SDK Builder to support V3, not totally sure this will be on beta.2 but I will add the label anyway.

[2016-12-28 19:07] #36 closed, assigned to kattsushi

[2016-12-28 19:16] jonathan-casarrubias opened #44 "Create Hook and RemoteMethod Decorators"
#### What type of issue are you creating?
- [X] Enhancement

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)

#### Please add a description for your issue:

Currently, when configuring the Model decorator, without much effort it can start growing a lot the configurations, leaving the business logic class in the bottom, which leads to a bad development experience.

L

[2016-12-29 11:33] wvlancke opened #46 "server-side model changes do not result in a change event on the client"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x ] Other

Write other if any:
1.0.0-beta.1.3

#### Please add a description for your issue:
I've set up a basic project with one model (called Job) and an Angular2 client application.
Everything is working as expected when I perf

[2016-12-29 15:34] jonathan-casarrubias commented on #46
Hi @wvlancke thanks for reaching out,

Hey so this is a very good point, currently we have just leave the client side in angular stable, so I'm pretty sure anything you do from the front-end will work.

But I'm still deciding, how to handle this in the backend I'm thinking in programmatically adding hooks to notify clients when something has been added, updated or removed in the backend.

So my id

[2017-01-04 20:38] request-eduardo opened #56 "Error before finishing the Project generation"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [X] Other

Write other if any:
FireLoop Version: 1.0.0-beta.1.3

#### Please add a description for your issue:

I run the fireloop command, and after a while I get an error. Here is my terminal log

➜  fireloop_project fireloop

[2017-01-04 20:41] request-eduardo commented on #56
After just retrying the same command, without deleting the previously (incomplete) project directory, I get the following:

➜  fireloop_project fireloop

     _-----_     ╭──────────────────────────╮
    |       |    │   Welcome to FireLoop!   │
    |--(o)--|    │  The MEAN Stack Platform │
   `---------´   │      by MEAN Expert      │
    ( _´U`_ )    ╰──────────────────────────╯
    /___A___\

[2017-01-16 21:44] ptesar-xyndata commented on #43
Hello, in Readme it's written that loopback v3 is supported. is it really supported in 1.0.0-beta.1.3?
Thx

[2017-01-27 12:48] rajweb opened #57 "How to Broadcast Data From Server Side"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [*] Question

#### What version of this module are you using?
- [*] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

Hello,
i am new in loopback/mean.expert and try to broadcast data from server side. on client side fileloop realtime data sycroniztion work fine. but i require to broadcast data from server side (eg.

[2017-01-27 16:00] jonathan-casarrubias commented on #57
Hi @rajweb thanks for reaching me out, I will verify your use case and come up with an advice for you.

Cheers
Jon

[2017-01-27 17:44] rajweb commented on #57
Thanks boss....I am waiting for advice.

[2017-01-28 20:59] davexs2020 commented on #46
+1, can loopback-sdk-builder / IO Module (new)  implement this feature? Thanks

[2017-02-05 08:27] beeman opened #59 "The fireloop directory should be configurable"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

The directory that is used to install the fireloop server component (`./fireloop`) should be made configurable just like the directory for the Angular cl

[2017-02-15 13:36] masterclock opened #60 "remote method returning Promise not supported"
#### What type of issue are you creating?
- [ ] Bug
- [x ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] "@mean-expert/model": "1.0.9",
- [ ] "@mean-export/model-register": "1.0.5"

https://github.com/mean-expert-official/model-register/blob/master/index.ts#L33

the wrapper function does not return value, adding a `return` solves the problem

[2017-03-01 08:55] masterclock opened #61 "instance remote method not supported"
#### What type of issue are you creating?
- [ ] Bug
- [ x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ]  "@mean-expert/model": "1.0.9",
- [ ]  "@mean-export/model-register": "1.0.5"

#### Please add a description for your issue:
instance remote method, i.e. method name startsWith 'prototype.' results runtime error

[2017-03-03 21:56] jasondbchapman opened #62 "Room Model not present when Creating Client SDK"
#### What type of issue are you creating?
- [x ] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
Attempting to follow this tutorial; however, the **Room model is not found** and it is not installed when I create the client SDK.

**These two questions never occur when I am creat

[2017-03-06 13:29] WhatzzUp opened #63 "Combined web client and mobile client"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [x] 1.0.0-beta.1.3 (1.0.0 Beta 1.3)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
Hey mean-expert Team,

actually a build prototype with fireloop and the web client and now i want to add the NativeScript to build an native app, wi

[2017-03-14 13:03] ProofWoW opened #64 "NativeScript Error"
#### What type of issue are you creating?
- [+ ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ +] 1.0.0-beta.1.3 (1.0.0 Beta 1.3)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Hello.
I have generated nativescript client for fireloop
But cant run.
When i run "fireloop serve" and choice serverside and clientside
Me give e

[2017-03-21 18:20] jonathan-casarrubias commented on #64
@ProofWoW thanks for reporting, for now I recommend you to run the FireLoop Server and the NativeScript app separately.

Load FireLoop server by using fireloop serve, and for now load the nativescript app by using tns run.

I had some delays that didn't allow me to finish the nativescript integration, but it will be fixed asap.

Regards
Jon

[2017-03-21 18:23] jonathan-casarrubias commented on #63
@WhatzzUp thanks for reaching out.

First of all sorry for the late response, I had some delays with a project and the team has been working hard with the fireloop starter, so sorry again for the late response.

Hey so, I really would not recommend you to completely share the code between the web and nativescript app, unless you talk about services or pipes, but in my personal experience, you will

[2017-03-21 18:39] jonathan-casarrubias commented on #62
Hey @jasondbchapman thanks for reporting.

Also, I'm sorry for the late response I have had some delays, but I'm here to answer now..

Anyway, there were many changes in the SDK Builder that broke the FireLoop CLI, I will be upgrading the CLI Asap

Regards

[2017-03-21 18:40] jonathan-casarrubias commented on #61
Hi @masterclock thanks for reaching out, I'm not totally sure about the issue.

Would you mind to add an example of it?

[2017-03-21 18:41] jonathan-casarrubias commented on #60
ok cool @masterclock thanks for reporting I will be adding it to the next version

[2017-03-21 18:43] jonathan-casarrubias commented on #59
@beeman thats fine I don't see an  issue on that, if a dev user wants to change the directory name it should be able to do it.

The pull request will be much appreciated :)

[2017-03-21 18:45] jonathan-casarrubias commented on #56
OK I see it is like a corrupted client problem, once corrupted there is no obvious way to clean it up.

[2017-03-22 03:42] beeman commented on #61
This is most likely in LoopBack v3. A non-static remote method will be defined like this:

[code]

[2017-03-22 07:18] kamilml commented on #1
PLEASE REACT!!

this framework looks great :D

do you think this is a good idea use this in production for a bet site? (i want to use this to render my views of game lobbys in real time)

PD. great job mate =)
PD2. i want to use react
PD3. who is working in spanish translation of http://docs.fireloop.io ?

[2017-03-22 21:11] jonathan-casarrubias commented on #59
@beeman forget about the PR... I already implemented this feature... will be landed on the next version

[2017-03-23 16:47] pekosoG opened #65 "Missing dependency wcwidth"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [ x ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ x ] Other

Write other if any:
FireLoop Version: 1.0.0-beta.1.3 (Fresh install from NPM)

#### Please add a description for your issue:
Is there an missing step on the readme here at this repo or on the installation process?

I

[2017-03-23 17:55] beeman commented on #1
@kamilml we would love to address this once the next big release is out (so after 2.2)

Do you by change have a good example of how to neatly integrate an API in a complex React application?

[2017-03-24 15:12] juantoledo opened #66 "Changing the listening address for the ng2 App"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [X] Other

Write other if any:

#### Please add a description for your issue:

Hello,

Is there any easy  way to configure the listening address of the Angular 2 App, from localhost:4200 to 0.0.0.0:4200 ?

Thanks in advance

J

[2017-03-24 22:26] aleho70 opened #67 "How can I debug server typescript code in VS Code?"

[2017-03-25 20:12] #41 closed, assigned to brannon-darby, kattsushi

[2017-03-25 20:12] #42 closed, assigned to kattsushi

[2017-03-25 22:18] luncht1me commented on #21
I'm getting these issues now.

[code]

This seems to be a problem with beta2.
I'm currently installing beta 1.3, seems to be moving along.

[2017-03-26 01:43] luncht1me opened #68 "realTime not working catching events."
I've turned on `"debug": true` in my component-config for `loopback-component-realtime`.

My base angular2 app it setup exactly like the docs at http://docs.fireloop.io/en/api/#Read-Data-Using-%E2%80%98change%E2%80%99-Event

[code]

When the page first loads, I get the console logs with my data, but whenever I add a new one w/ the upsert() function, I do not get the event logs again, EVEN THOUGH t

[2017-03-26 02:21] jonathan-casarrubias commented on #68
@luncht1me I'm really sorry you are having this problems and a bad first impression, but the beta 2 dependency issue has been just fixed in beta 2.3.

Also I just tried and I'm not having your problems on a basic test, even though we also have complex applications running on fireloop already.

After a clean installation of fireloop, I just created a Todo model with a text property and the followin

[2017-03-26 03:54] jonathan-casarrubias commented on #21
@luncht1me Fixed on beta 2.3

[2017-03-26 03:54] #21 closed, assigned to jonathan-casarrubias

[2017-03-26 03:55] jonathan-casarrubias commented on #56
This issue has should be fixed on beta 2.3

[2017-03-26 03:55] #56 closed, assigned to nobody

[2017-03-27 05:09] luncht1me commented on #68
So, updated to beta2.3, and with this same setup, I can see that the websocket does pick up on the event, but it isn't parsed. I've copy/pasted the socket preview below. The data is there, but it's in a binary mess instead of coming through as an object. I'm assuming this is the cause of the event not being caught in angular and thus not console logging the change result.

`ÿ42["Nooner.value.re

[2017-03-27 07:27] lamquangphuc commented on #22
I have just read [API](http://docs.fireloop.io/en/api/).
Sometime, I need to subscribe once data.
How can I get it (such as 'once' in Firebase)?

[2017-03-27 13:30] jonathan-casarrubias commented on #68
Ok I've never seen that binary issue, it seems fun to debug, the problem is how to replicate though, because I don't think is a windows issue, there is a contributor that yesterday did test on windows and is working for him. so, I'll try to research in google for socket.io passing unexpected binaries.

At the end I pass a plain JSON from the server, so as you said the data is there, somehow it was

[2017-03-27 13:59] WhatzzUp commented on #63
Hi jon,

thx for the answer. Helped me a lot! :)

Greezzze
chris

[2017-03-27 13:59] #63 closed, assigned to jonathan-casarrubias

[2017-03-27 14:01] brannon-darby commented on #68
@luncht1me - if you can join our slack and/or create a repo that reproduces the issue, i'll be happy to look into this with you from a windows machine.

[2017-03-27 15:43] jonathan-casarrubias commented on #22
@phuclam85 thanks for reaching out.

The FireLoop platform provides 2 types of API

1.- FireLoop API (provides hot observables)
2.- LoopBack API (provides cold observables)

Within the FireLoop API there is no once call, since we don't want cold observables within the FireLoop API, but by using the LoopBack API you can get the data once from any of your models.

Lets say you have a model Account,

[2017-03-27 16:24] luncht1me commented on #68
Sure, send me a slack invite: lunchtime@nxtlvl.gg . I'll do what I can. @brannon-darby @jonathan-casarrubias .

I'll push up the whole repo from my home computer once I get home after work today for you guys to dl and try.

[2017-03-27 18:52] jonathan-casarrubias commented on #68
ok cool, just sent you an invite

[2017-03-27 21:24] jonathan-casarrubias commented on #67
Hi @aleho70 thanks for reaching out... hey so that is a good question, I personally have not tried to debug the server using VCode, though is good to start reviewing some ways to do it.

For now I apologize not to give a real answer on this, will need to verify.

Regards,
Jon

[2017-03-27 21:26] jonathan-casarrubias commented on #65
@pekosoG thanks for reaching out.

Hey so, not sure about this missing dependency... I haven't personally seen, nor anyone have complained about that specific dependency.

But I can say that sometimes there are connection issues that won't allow to correctly install a specific library.

If that is the case, this should be fixed just by trying a clean installation of the platform and see if the pro

[2017-03-27 21:28] jonathan-casarrubias opened #69 "Implement path.sep to get custom directory name"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

There is a problem generating projects in Beta 3, where in windows environments we are not getting the API directory name.

Use path.sep will fix the iss

[2017-03-28 02:23] brannon-darby commented on #66
hi @juantoledo

fireloop leverages @angular/cli to serve the angular app in dev mode.  please refer to the @angular/cli documentation to accomplish this.

https://github.com/angular/angular-cli#usage

`ng serve --host 0.0.0.0 --port 4201`

[2017-03-28 02:31] brannon-darby commented on #43
@Ellipizle @PatrikTes

The latest release of FireLoop (1.0.0-beta.2.3) and the SDK Builder includes support for LoopBack 3.  Check it out and let us know if there are any issues!

[2017-03-28 13:53] brannon-darby commented on #66
@juantoledo - if you can join our slack group, i'll be happy to help you out with this.  feel free to shoot me a message if you need any help.

[2017-03-28 14:01] brannon-darby opened #70 "feat(fireloop-model): support for calling `fireloop model` from within the api folder"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

##### Write other if any:
- 1.0.0-beta.2.3

#### Please add a description for your issue:
Currently, users can only call `fireloop model` from the project root.  I think it would be a great idea to add support for calling

[2017-03-28 14:05] brannon-darby commented on #69
@jonathan-casarrubias - i was able to test this successfully on my windows machine.

reference:

```let apiName: string = this.destinationPath().split(path.sep).pop();```

[2017-03-28 15:45] WhatzzUp opened #71 "Mysql fulltext query with fireloop *Question*"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

The following example shows, how i can querying data with the built in LoopBack Query Language:
[code]
This works wunderfull!

Now i would like to create

[2017-03-28 22:58] jonathan-casarrubias commented on #71
Hi @WhatzzUp thanks for reaching out..

Hey so as you can see, the juggled does not provide support for the match feature, so literally we can not do anything in our side.

But in some uses cases, it might worth something to create a custom remote method and then listen that remote method.

The problem though is that won't work as the 'Change' method, the only way your listeners will be fired is b

[2017-03-28 23:17] brannon-darby commented on #71
@WhatzzUp

addding to the comments from @jonathan-casarrubias - if your goal is simply to leverage a mysql datasource, you should check out the mysql-connector.

http://loopback.io/doc/en/lb3/MySQL-connector.html

[2017-03-29 01:49] beeman opened #72 "Add an option to start all fireloop services (fireloop serve --all)"
#### What type of issue are you creating?
- [x] Enhancement

#### What version of this module are you using?
- [x] 1.0.0-beta.2.4

#### Please add a description for your issue:

It would be nice if one could run `fireloop serve --all` and have all detected services selected, instead of selecting them manually

<img width="787" alt="screen shot 2017-03-28 at 20 43 05" src="https://cloud.githubuserc

[2017-03-29 08:00] WhatzzUp commented on #71
@jonathan-casarrubias, @brannon-darby

Thank you for the fast reply.

I would like to implement a fulltext search for our customers, to get searched projects in a list.

We started with a normal **LIKE '%value%'** query,which works fine with fireloop and the mysql connector. The problem with the LIKE query is, that a medium-sized data set of up to 10,000 records (500,000 words) or so, **LIKE** onl

[2017-04-02 01:59] #66 closed, assigned to brannon-darby

[2017-04-02 02:00] #69 closed, assigned to jonathan-casarrubias

[2017-04-02 18:09] #71 closed, assigned to jonathan-casarrubias

[2017-04-03 19:41] bitingedgemick opened #74 "Generate SDK error - default SDK (webapp) is built for every client app"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
1.0.0-beta.2.4

#### Please add a description for your issue:

When using the Fireloop CLI command **Generate Angular2 SDK** the command line options are not being used by the Fireloop:SDK generator. N

[2017-04-06 13:44] roboflank opened #75 "Error when calling Model generator"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

I update my CLI to `1.0.0-beta.2.4` and now i cant be able to do a `fireloop model Modelname`

Anything changed?

[2017-04-06 13:45] roboflank commented on #75
`events.js:163`
  `   throw er; // Unhandled 'error' event`
      `^`
`Error: No API server was found`

Am getting this error.

[2017-04-07 06:09] roboflank commented on #75
Fixed this, by adding server dir to the config

[2017-04-07 06:10] roboflank commented on #75
Running into another error

`events.js:163`
      `throw er; // Unhandled 'error' event`
      `^`

`Error: You don’t seem to have a generator with the name “loopback:model” installed.`

[2017-04-11 15:06] zackarychapple opened #76 "License"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
Can someone please put the official license on the repo. Doing a search it seems the fireloop is MIT, but I want to make sure.

[2017-04-12 17:01] jonathan-casarrubias commented on #76
Hey @zackarychapple thanks for reporting.

Yes every module within FireLoop is under the MIT License, I'll add the license doc within the next merge.

Cheers
Jon

[2017-04-12 17:12] jonathan-casarrubias commented on #75
@denzelwamburu yes something changed actually.

Since you can now set the name of the API directory, previously was fireloop by default, now there is an extra configuration within the .yo-rc file

In order for your project to work with the new cli, you will just need to update the yo-rc file as follows

[code]

Or you can also create a new project and migrate your code, just keep the new setup.

C

[2017-04-12 17:23] jonathan-casarrubias commented on #74
@bitingedgemick thanks for reporting I will verify testing with different apps and see if I can replicate in mac

[2017-04-12 19:01] roboflank commented on #75
Thanks, I figured that out.
Though my model generator still throwing an error.

On Wed, Apr 12, 2017, 20:12 Jonathan Casarrubias <notifications@github.com>
wrote:

[2017-04-12 19:19] phra opened #77 "Integrate GraphQL endpoint"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [ ] Question
- [x] Feature Request

#### Please add a description for your issue:

do you have already thought about an integration with GraphQL query language? As we already have formal descriptions of our models and relationships between them i think that it wouldn't be so hard integrate it with loopback's models. Also it ca

[2017-04-12 19:35] jonathan-casarrubias commented on #75
I just verified and I'm able to create models without any problem.

Try with a clean installation and see if the problem persist

[2017-04-12 22:16] ElHupeke opened #78 "Question model relationship"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X ] Question

#### What version of this module are you using?
- [ X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

I started with plain models. Works fine. Well, it works great! I love fireloop and want to use it for my apps. Now I want to use model relations between the models. I saw some documentation with slc loopback model:relat

[2017-04-13 19:52] zackarychapple commented on #76
Fantastic, thank you.

[2017-04-16 19:48] mikkoh85 commented on #78
I have similar question. I made simple Fireloop project and added models with command: `fireloop model [ModelName]`. But there seems not to be `fireloop relation` command or anything like that. Or is it so that FireLoop uses no relations? I am experienced user with LoopBack, but just starting to learn FireLoop..

[2017-04-16 23:08] mikkoh85 commented on #78
I found out that I need to write relations by hand into models' .json file. I guess there is not yet cli command similar to Loopback's `lb relation` in FireLoop.

[2017-04-16 23:13] mikkoh85 opened #79 "Fireloop serve doesn't work with multiple entities anymore"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [X] 1.0.0-beta.2.4
- [ ] Other

Something weird happened with `fireloop serve` cli command. First when I created the base project and then the angular 2 webapp project into it, it worked fine by selecting both projects after typing `fireloop serve`. For some reaso

[2017-04-16 23:49] mikkoh85 commented on #79
Weird thing, I kept on hitting Enter and then it started the webapp too..

[2017-04-17 02:21] brannon-darby commented on #78
@ElHupeke - i believe you joined our slack community and have this working now?

@mikkoh85 - `fireloop model` is simply an extension of loopback's `lb model` to generate a typescript version of the model.js.  you should use `lb <command>` for all other loopback items.  to create relations, use `lb relation` or manually update the .json file.  after creating relations, use `fireloop sdk` from the r

[2017-04-17 02:24] brannon-darby commented on #78
example relations here:

https://github.com/mean-expert-official/fire-starter/blob/admin/api/common/models/fire-user.json#L36-L51

[2017-04-17 09:49] mikkoh85 commented on #78
Thanks for answers. I guess I will join to the slack community. I remember trying command lb relation, but that returned an error. I may do this again today if you want more info.

[2017-04-17 21:47] ElHupeke commented on #78
Dear Brannon,

It's working fantastic! I have a great time here and did some cool things today. I think I will get a working tournament application for the European Tang Soo Do championship :-)

Kind regards,

Huub de Groot

 Van:   Brannon N. Darby II <notifications@github.com>
 Aan:   mean-expert-official/fireloop.io <fireloop.io@noreply.github.com>
 Cc:   ElHupeke <ElHupeke@degroot.whyi.org>, M

[2017-04-20 13:27] dmastag opened #80 "Will server.js be converted to typescript?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

I was wondering because all of the files are in .ts except for server.js
Is this a limitation of loopback or something you have planned to do in the futu

[2017-04-20 15:21] #78 closed, assigned to brannon-darby

[2017-04-20 15:21] #32 closed, assigned to brannon-darby

[2017-04-20 15:23] #43 closed, assigned to brannon-darby

[2017-04-21 13:12] mikkoh85 commented on #79
This problem happened with Git Bash on Windows, but doesn't happen on OSX El Capitan's' bash terminal.

[2017-04-21 13:33] mikkoh85 commented on #57
Heads Up @rajweb. I got this working. Today I will put the code here, but now, I'm in a hurry. Catch you later :)

[2017-04-21 14:41] jonathan-casarrubias commented on #80
@dmastag it is on JS because the project should be able to run as any other node js project, internally we transpile in runtime the TS files  by using ts-node, so you don't need to later compile.

It is possible that by LB4 that will be all typescript that might change, depending on their final implementation..

Regards!

[2017-04-21 14:41] #80 closed, assigned to nobody

[2017-04-21 16:33] mikkoh85 commented on #57
I used FireLoop server and Angular 2 generated with `fireloop` cli command. I had to change that server side code to use TypeScript. In your example you are using plain JavaScript syntax and FireLoop uses (at least now) TypeScript.

So.. I made file connected.ts into `/fireloop/server/boot/` folder (you can name it whatever you like) and put this code inside of it:

[code]

On client side in app.c

[2017-04-21 16:34] #76 closed, assigned to jonathan-casarrubias

[2017-04-22 06:57] rajweb commented on #57
thanx for reply... it works

[2017-04-22 06:57] #57 closed, assigned to nobody

[2017-04-24 07:27] WhatzzUp opened #81 "Realtime IO *Question*"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [ X] Question

#### What version of this module are you using?
- [X ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Hello folks,

currently im try to get deeper in fireloop and socket.io and have now a few questions.
I tried the RealtimeEngine and its AWESOME! Great

[2017-04-25 12:25] swfredrik opened #82 "socket.io url"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ x] 2.1.0-beta.4 (2.1 Beta 4)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

When hosting the ionic app within Cordova the socket.io path gets //file:/socket.io.....

Working perfectly when Im hosting from ionic serve

Can't find

[2017-04-28 05:59] FishTheOriginal opened #83 "Error installing Angular 2 client"
#### What type of issue are you creating?
- [X ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [X ] Other

Write other if any:

#### Please add a description for your issue:
Error while trying to install Angular 2

Distributor ID: Ubuntu
Description:    Ubuntu 14.04.5 LTS
Release:        14.04
Codename:       trusty

node -v

[2017-04-28 06:23] FishTheOriginal commented on #83
I noticed the message asking to install @angular-cli

- I uninstalled the global install
- Local install
- Reinstalled the local as instructed

Result:

     _-----_     ╭──────────────────────────╮
    |       |    │   Welcome to FireLoop!   │
    |--(o)--|    │  The MEAN Stack Platform │
   `---------´   │      by MEAN Expert      │
    ( _´U`_ )    ╰──────────────────────────╯
    /___A___\   /

[2017-05-02 11:44] TuNi54 commented on #83
the same here.
any suggestion ?
ty

[2017-05-02 12:38] proreact-mj opened #84 "Any considerations for Electron as a client target?"
#### What type of issue are you creating?
- [ ] Bug
- [X] Enhancement
- [ ] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
Considering:
Loopbacks isomorphinc nature
The multitarget approach of Fireloop (nativescript and webapp)
Angular 2 strong functionality to support complex

[2017-05-02 12:47] proreact-mj opened #85 "Migration path for existing Loopback projects"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

We are already running a fairly complex Loopback app, but are considering upgrading our frontend focus from AngularJS to Angular 2/4. Fireloop seems like

[2017-05-02 15:38] jonathan-casarrubias commented on #85
@proreact-mj it depends on how much functionality you want to get or not from the FireLoop platform.

For instance if you are only interested in implementing the real-time API from fireloop into your current LoopBack project, then you just need to install and configure the loopback-component-realtime and the loopback-sdk-builder.

With these 2 modules you can have a SDK for Angular 2+ App and Loop

[2017-05-02 15:41] jonathan-casarrubias commented on #84
Hi @proreact-mj yeah well the automatically generated SDK should work in most of the cases within an electron environment, there might be issues related to the local storage, but I'm assuming that using the SDK for NodeJS should make it run in electron, though is just an assumption I never really tried..

Other than that in theory the rest of the features should work just right away....

We might

[2017-05-02 15:47] jonathan-casarrubias commented on #83
Hi Guys, thanks for reaching out...

Here is the thing... The FireLoop CLI leverage the Angular CLI functionality and does install it as sub package for you...

But I have seen many issues after the old Angular CLI was renamed from angular-cli to @angular/cli, but both provides the same "ng" command, some nasty things started to happen.

Right now you might have conflicts with that specific proble

[2017-05-02 15:57] proreact-mj commented on #85
I was afraid of that.
Too bad Strongloop didn't jump on the typescript wagon when they had the chance with v3 :(

I'll focus my efforts on the SDK generator and the realtime components as seperate (closely related) things for the existing project.

Thanks for the quick answer and for all the love and sugar you are adding to Loopback (the Angular2 SDK builder is fantastic!).

[2017-05-02 15:57] #85 closed, assigned to jonathan-casarrubias

[2017-05-02 20:28] FishTheOriginal commented on #83
**Solution**:

To fix this you will need to start fresh by

1.- Making sure you remove the old angular-cli
2.- You can or not install the new @angular/cli package the FireLoop CLI can work in both scenarios
3.- You need to remove any generated angular cli app and create it again (Back Up any work you might have)
4.- Within the yo-rc.json file within the root of the project you need to remove any a

[2017-05-02 20:28] #83 closed, assigned to nobody

[2017-05-03 19:30] jonathan-casarrubias commented on #81
Hi @WhatzzUp thanks for reaching out,

Hey so, in your code snippet I don't see any FireLoop API code, but I see you are using the simple wrapper for socket.io-client. I'm clarifying this because:

a) The IO wrapper is a really basic wrapper which will provide you with the on and emit events only.
b) The FireLoop API is model oriented and not connection oriented, therefore you need to change the m

[2017-05-03 19:38] jonathan-casarrubias commented on #79
hi @mikkoh85 thanks for reporting,

Hey so is that happening on a new fireloop project, or within a project created with a previous version?... There were introduced some changes that might affect older projects.

The strange part is that is only happening in git bash on windows, so it might be some platform specific problem, not sure so will need to verify

[2017-05-03 19:39] jonathan-casarrubias commented on #77
@phra yeah we had some request for that, but in the short term I don't see that coming, though LB4 might include GraphQL support, in those terms we would be able to support it, is just I don't think that should be managed from this end, so lets see if it is implemented within LB4 and we can leverage on that

[2017-05-03 19:41] jonathan-casarrubias commented on #68
@luncht1me is this issue still persisting? I don't see other guys having the same problem also I see some inactivity in here.

I will close this issue for now, let me know if it is persisting and you have a way to replicate the issue.

Regards
Jon

[2017-05-03 19:41] #68 closed, assigned to nobody

[2017-05-04 12:24] mikkoh85 commented on #79
I'll take some tests later. Now @work :)

[2017-05-04 16:59] WhatzzUp commented on #81
Hy @jonathan-casarrubias
it works great! Thank you!

One point is open:
If a client has an "disconnect" (no internet connection, programm crash etc.) how can the server unlock the record?

Is it possible to use the "disconnect" handler? Or is there another "good" way?

Best Regards

Christian

[2017-05-04 17:22] jonathan-casarrubias commented on #81
Hi @WhatzzUp I have just verified and right now there is no published way to know that, but I have just verified and it is super simple to implement though, and since I'm about to publish a new release with an important security fix, I will add a way for you to know who disconnected, it is important to notice that this will apply only for logged users, though I believe that will be fine for you...

[2017-05-04 17:47] jonathan-casarrubias commented on #79
@mikkoh85 I have just got a confirmation about this issue from @brannon-darby, not sure why in windows is having that behavior, we'll need to either document that or see if we can workaround the issue since we leverage to yeoman that specific functionality

[2017-05-04 17:57] jonathan-casarrubias commented on #81
I just created a documentation file for this:

https://github.com/mean-expert-official/fireloop.io/wiki/Handle-Disconnections

[2017-05-04 18:34] WhatzzUp commented on #81
Hi @jonathan-casarrubias
thx for the fast reply!
I don´t understand your answer exactly.
When or who is triggering the "socket-disconnect" event?
...emit("socket-disconnect"...)

Cheers
Chris

[2017-05-04 19:17] jonathan-casarrubias commented on #81
@WhatzzUp the `socket-disconnect` event is triggered by a core component named loopback-component-realtime, that is the component that provides you all the real-time capabilities.

Internally the component knows all the people that are connected, it provides a reference for the token that the connection is using, therefore when the loopback-realtime-component detects a user has been disconnected i

[2017-05-04 19:19] mikkoh85 commented on #79
ok, cool, guys :)

[2017-05-04 19:48] jonathan-casarrubias commented on #81
@WhatzzUp I just published the loopback-component-realtime@1.0.0-rc.6... Update that module within the fireloop api directory.

Also I fixed an issue in the snippet I provided, the way I was getting the project didn't make sense... Basically I changed the Project call to:

[code]

Remember that you only need to take care by creating a boot script, that is listening for the `socket-disconnect` even

[2017-05-04 19:59] WhatzzUp commented on #81
@jonathan-casarrubias
Thank you for your help!
I guess i have an error or something goes wrong ... the

isnt triggered ... is there an extra preference to activate this?

Thank you so much for your help Jon!

[2017-05-04 20:07] jonathan-casarrubias commented on #81
have you updated the loopback-realtime-component already to RC6?

[2017-05-04 20:14] WhatzzUp commented on #81
yes i have. Maybe i make something wrong :D is currently late in germany  :)

[2017-05-04 20:39] jonathan-casarrubias commented on #81
Ok I just verified that I didn't mess up while publishing the package....

Actually it is published right, so just make sure you:

1.- **Enter the API Directory**: `$ cd to/project/fireloop` or `$ cd to/project/custom` (if you defined a custom API directory while creating the project).
2.- **Install New Dependency**: `$ npm install --save @mean-expert/loopback-component-realtime@1.0.0-rc.6`
3.- **

[2017-05-05 08:24] WhatzzUp commented on #81
@jonathan-casarrubias Good Morning,
I don't know why or how ... but now it works! Started my computer this morning .... **and it works perfectly**!

I think a little troll wanted to annoy me yesterday evening :gun:  #brainlag

Thank you so much for your help and your time! **You saved my day**

Best regards from bavaria!
Christian

ps: I owe you a beer :beer:

[2017-05-05 08:24] #81 closed, assigned to jonathan-casarrubias

[2017-05-05 10:58] swfredrik opened #87 "Ionic2 and Fireloop"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.4 (2.1 Beta n) latest
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Im using Fireloop in my ionic2 application and its working great. My app contains of a listview where the user can click on an Item to see the det

[2017-05-05 11:33] dmastag commented on #87
Could you share some code?
Its hard to know what is wrong without knowing what you did.

[2017-05-05 14:11] jonathan-casarrubias commented on #81
@WhatzzUp I'm glad it is now working for you, I believe you are now all set.

I hope you to build great things using FireLoop... Also, I'll be looking forward for that beer 🍺 lol...

Cheers
Jon!!

[2017-05-05 14:23] jonathan-casarrubias commented on #87
@swfredrik I'm not sure about the disconnection, since it is a persisted connection it will be only released by the network if there is no data being sent for a while, but that is being already internally handled by a heartbeater that sends a timestamp message every second or so to the server in a ping pong approach.

Other type of disconnections are handled by socket.io and once there is a networ

[2017-05-05 16:25] WhatzzUp commented on #81
@jonathan-casarrubias
The locking works perfectly, only one little point is open:
If the server is unlocking the record, i would like to send an event to all clients who listen at a specific emit event  "<tablename>.<recordID>"

Acutally the client must "refresh" the layout to recognize that the record isn't locked anymore.

This is actually the "OnDisconnect" class
[code]

[2017-05-07 11:43] patricknazar commented on #83
This does not work for me

[2017-05-08 06:35] hellraiserii commented on #67
Hey! I was in the same situation and while it was not an obvious solution, it worked like a charm.
TL;DR: add `"protocol": "inspector"` in a vanilla node.js launch program configuration.

Elaborating the answer a bit more, and as far as I could understand, fireloop registers ts-node in order to compile in memory all your .ts files on demand, leaving no resulting .js files nor source-mapping files

[2017-05-08 11:53] ittechsathish opened #88 "server app is Crashing"
#### What type of issue are you creating?
- [*] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Today i installed fireloop in my local using CLI.

when i am starting the server, the app is crashing with below message.

------------------------------

[2017-05-08 12:10] hellraiserii commented on #88
It happened to me yesterday when I npm-installed packages in my project. You probably caught "@mean-expert/loopback-component-realtime": "^1.0.0-rc.**6**", which needs extra configuration on `server/component-config.json`. Take a look at `driver` and `module` properties. I didn't have them in my project. Probably they're now necessary.
[code]
 [I found the answer here](https://www.npmjs.com/packag

[2017-05-08 20:55] mikkoh85 commented on #88
@hellraiserii I had the exact same problem when I generated new Fireloop project. Copy pasted the "driver" and "modules" stuff and it started working instantly. Confirmed.

[2017-05-09 07:48] ittechsathish opened #90 "How to configure webpack.config.js"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [*] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
How to configure webpack.config.js i could not find that file inside webapp, please help me

[2017-05-12 10:57] ittechsathish commented on #88
Hi hellraiserii, thanks for your help it is working.

[2017-05-12 13:03] supermafete commented on #88
Great! I had the same problem too. @hellraiserii did the trick 👍

[2017-05-14 16:17] Britskiy opened #93 "Real Time Stats Example frontend Angular2 error"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
1.0.0-beta.2.4

#### Please add a description for your issue:

Hello. I'm trying to follow the example at the [link](https://github.com/mean-expert-official/fireloop.io/wiki/Real-Time-Stats-Example). W

[2017-05-15 01:12] hasahmad opened #94 "Fireloop Offline Sync?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [•] Question

#### Please add a description for your issue:
Is there are offline sync implementation?
I am building an app which fetches data from FireLoop api and saves to Sqlite, but i wanted to check if there is anything that Fireloop provides.

[2017-05-15 14:10] #62 closed, assigned to jonathan-casarrubias

[2017-05-15 14:11] #64 closed, assigned to jonathan-casarrubias

[2017-05-15 14:11] #79 closed, assigned to nobody

[2017-05-15 14:11] #88 closed, assigned to nobody

[2017-05-15 14:17] jonathan-casarrubias commented on #94
Hi @hasahmad thanks for reaching out...

Hey so, the short answer is not really, it just provides with a basic Storage Service that would allow you to persist  in local storage.

We might add the offline sync in a future as built in feature, so I will keep this open and see how much support from the community it has..

Cheers
Jon

[2017-05-15 14:20] jonathan-casarrubias commented on #93
@Britskiy I believe the real time stats repo example is a little outdated, try with this other repo which is up to date, https://github.com/mean-expert-official/fire-starter

Just to give you some context about that problem, now the references need to be created inside the onReady method.

[code]

Cheers
Jon

[2017-05-15 15:34] dmastag commented on #94
This would be a killer feature if implemented

[2017-05-16 07:23] rajweb opened #95 "fireloop referece reomte method/ onRemote method example"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [ *] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:
1- how to query using remote method and also broadcast using remote method.
2- angular2 nested reactive form submission example using fireloopRef submit.
#### Please add a description for your issue:

[2017-05-16 15:53] swfredrik opened #96 "fireloop serve"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Nothing to select when running fireloop serve

Where are the information stored about the project?
Fireloop serve does not find the server project.

Work

[2017-05-16 17:47] #96 closed, assigned to nobody

[2017-05-16 17:47] swfredrik commented on #96
found it in the .yo-rc.json

[2017-05-17 10:17] swfredrik commented on #87
The todoservice is incomplete?
Can you show an example of how to create an Angular data service? how to consume that service in multiple views. I cant figure out how to pass the todos observable to multiple components.

IF think it would be good to have a service that hook up to the realtime stuff, instead of having the same realtime code in multiple components.

[2017-05-17 14:23] jonathan-casarrubias commented on #87
@swfredrik If I'm understanding well, I think you are losing the focus, the original issue ask 2 questions:

1.- Why is getting disconnected (I can not be sure of this)
2.- The performance decreases on each section navigation.

For the number 2 you need to unsubsribe and dispose your references as per the link which points to the following code:

[code]

That is all you need to do to avoid perform

[2017-05-18 01:15] roccolucatallarita commented on #94
Thanks, very useful!

[2017-05-18 07:48] WhatzzUp commented on #94
+1

[2017-05-22 01:37] sinjinn commented on #22
Hi All,

I wanted to move away from Firebase and through some searches found your project.  I've only been playing with it for a bit today, so please forgive me if I've missed something obvious. I not having any luck though getting realtime updates working.  My 'find' and 'value' work fine, but when I add another item, I'm not receiving the update through 'value' or 'child_added'.  Any thoughts on

[2017-05-22 20:53] jonathan-casarrubias commented on #22
@sinjinn just make sure that when you create your new item, you create it using the fireloop realtime reference and not the loopback REST Api

This should be good:

[code]

This is not good for realtime, this is only a regular REST Call

[code]

[2017-05-22 21:15] Alexej-Gorelik commented on #22
Hello everyone.

Recently I try to use fireloop but have problems serving an "Angular 2 Ionic" app.
It would be great if you could help me :)
I use windows command promt, which could be the reoson for my troubles.

If I type serve, I get this error message:

``C:\A\tasks>fireloop` serve

  ...

? What application do you want to serve? ionicapp
events.js:160
      throw er; // Unhandled 'error' eve

[2017-05-23 03:14] sinjinn commented on #22
Thank you @jonathan-casarrubias.  I will try that.  That must be it.  I was testing things out with "Postman" and just posting items through the REST interface.  Just for my own understanding, why are items not published if they come in through REST?  Thanks again and great work on this.

[2017-05-23 05:33] blntylmn commented on #74
Any progress on this . I am having this issue too and this make it useless for nativescript or ionic apps. (I am on a mac sierra)

[2017-05-23 14:21] #93 closed, assigned to nobody

[2017-05-26 05:42] ryodeushii commented on #74
In waiting for fixes, I've just wrote **npm** scripts to generate SDKs in proper directories

[2017-05-26 09:30] brannon-darby commented on #74
@bitingedgemick @blntylmn @ryodeushii

this should be resolved in the latest release of FireLoop, which includes the following commit:
https://github.com/mean-expert-official/fireloop.io/pull/92/commits/d7faca8e74fca0b7ad7db8cbf6d94a216cea3750

would you please test it out and let us know?

[2017-05-26 09:33] brannon-darby commented on #74
the latest version allows you to set the folder where the sdk will be generated for each client, along with some other clean-up around `fireloop:serve` and `fireloop:sdk`

[2017-05-26 09:37] #59 closed, assigned to beeman, jonathan-casarrubias

[2017-05-27 10:33] bitingedgemick commented on #74
@brannon-darby

All good for me.

Thanks.

[2017-05-27 23:27] roboflank opened #98 "Where Filter"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

How do i pass a where filter?[ https://loopback.io/doc/en/lb2/Where-filter.html](https://loopback.io/doc/en/lb2/Where-filter.html)
Passing it as
      `

[2017-05-27 23:38] roboflank commented on #98
Figured it out:
It should be
`where: {property: params}`
👀

[2017-05-27 23:38] #98 closed, assigned to nobody

[2017-05-29 23:54] #74 closed, assigned to jonathan-casarrubias, brannon-darby

[2017-06-07 14:33] mhmo91 opened #99 "type definition for loopback app instead of using var"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [#] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [#] Other

Write other if any:
1.0.0-beta.2.5
#### Please add a description for your issue:
why there is no type-definition for the loopback server app?
![image](https://user-images.githubusercontent.com/3815200/26883910-c019da46-4b

[2017-06-07 20:26] mhmo91 opened #100 "fireloop doesn't work with mysql database"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
1.0.0-beta.2.5
#### Please add a description for your issue:
i created a project with angular web app, everything works fine if the model is connected to in memory db, but when i change to mysql, the r

[2017-06-08 06:55] mhmo91 commented on #100
i have created a repo for the test project i created here
https://github.com/mhmo91/fireloop-sample-app
Also, i'm using xampp to run mysql server

[2017-06-09 04:52] dmastag opened #101 "Fireloop CLI Stops at Project Name Question"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] @mean-expert/fireloop@1.0.0-beta.2.5

Write other if any:

#### Please add a description for your issue:
When creating a new project I got stuck at the "Your project name" Question. Not being able to press anything.

I just upgr

[2017-06-12 19:51] hasahmad commented on #100
Mine is working and I don't have `"url": "",` in `server/datasources.json`

`
{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "mysqldb": {
    "host": "localhost",
    "port": "3306",
    "database": "api",
    "password": "password",
    "name": "mysqldb",
    "connector": "mysql",
    "user": "root"
  }
}
`

[2017-06-12 21:56] jonathan-casarrubias commented on #46
This is already implemented,

please take a look on this issue: https://github.com/mean-expert-official/loopback-component-realtime/issues/38

[2017-06-12 21:56] #46 closed, assigned to nobody

[2017-06-12 21:57] jonathan-casarrubias commented on #100
@mhmo91 FireLoop will work regardless the datasource,

The only moment when a non-sql datasource is important is when you want to scale to multiple servers, http://docs.fireloop.io/en/scaling-fireloop/.

I think you might have an issue because a recent update to the @mean-expert/loopback-component-realtime module now requires the "FireLoop" mixing to be registered on each model you want to enable

[2017-06-12 21:57] #100 closed, assigned to nobody

[2017-06-12 21:58] jonathan-casarrubias commented on #101
@dmastag yes updating the node and npm version usually breaks modules..

Try uninstalling and installing again also the fireloop-cli and let me know if that works for you.

[2017-06-12 22:00] jonathan-casarrubias commented on #99
@mhmo91 we were addressing the typing for the App, but now that IBM is working in a Typed Version of LoopBack, we will leverage that when the moment arrives.

Unfortunately LoopBack is having an entire rewrite, so we will take an strategy to update FireLoop with the new LB4 version, though I don't think we will continue using the model decorator or things like that in the future since LB will offe

[2017-06-12 22:00] #99 closed, assigned to nobody

[2017-06-13 19:41] jonathan-casarrubias commented on #22
@sinjinn in the latests versions, the real-time component does update the client if the changes come either from the REST interface or the NodeJS Api..

The downside is that in order to achieve that you now need to register the FireLoop mixing,

[code]

[2017-06-15 12:32] #75 closed, assigned to jonathan-casarrubias

[2017-06-18 15:15] ittechsathish opened #102 "How to debug fireloop nodemon in visual studio code?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [* ] Question

#### What version of this module are you using?
- [ *] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:
I  am using visual studio code for editing, but i don't know how to start debugger, Could you guys please help me.
#### Please add a description for your issue:

[2017-06-19 15:20] jonathan-casarrubias commented on #102
@ittechsathish try the following thread and see if helps https://github.com/mean-expert-official/fireloop.io/issues/67.

[2017-06-20 14:50] ittechsathish commented on #102
Thanks it is working fine.

[2017-06-20 18:04] ittechsathish opened #103 "Third party login is not woring"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [* ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

When the google redirect to the below url, it is showing the error message.
I dont know how to fix this issue.

/auth/google/callback?code=4/kGbz7jugQZ8eWrIe_HDtu1Qn6_tiNREC6M_91EnhPwo: Error: cookie

[2017-06-20 18:12] ittechsathish commented on #103
app.get('cookieSecret') is not giving any value, so i set some string there , now it is working fine.

app.middleware('session:before', cookieParser('mycodeSecret'));

[2017-06-23 06:03] tohagan opened #104 "Generating Ionic Client with ionic 3.4.0 crashes and reports "The --v1 and --v2 flags have been removed.""
#### What type of issue are you creating?
- [X ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [X] Other 1.0.0-beta.2.5

Write other if any:

- Ionic v 3.4.0 (latest) installed.

#### Please add a description for your issue:

Generating an Ionic 2 client now crashes with ...

[code]

[2017-06-23 16:17] jonathan-casarrubias commented on #103
@ittechsathish thanks for reaching out. Also I'm glad you were able to fix the issue, I believe this was introduced by a LoopBack Update needing to pass the cookieParser.

I'll add that as reference in the SDK documentation

Cheers
Jon

[2017-06-23 16:17] #103 closed, assigned to nobody

[2017-06-23 16:17] jonathan-casarrubias commented on #102
Cool! I'm closing this one now then..

Cheers
Jon

[2017-06-23 16:17] #102 closed, assigned to nobody

[2017-06-23 16:18] jonathan-casarrubias commented on #101
@dmastag I was unable to reproduce this, does your problem persist?

[2017-06-24 22:16] ittechsathish opened #106 "After remote is not working in Mode@l"
#### What type of issue are you creating?
- [* ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

  hooks: {
    beforeSave: { name: 'before save', type: 'operation' },
    afterRemoteCreate: { name: 'create', type: 'afterRemote' }
  },

in the class

[2017-06-25 17:42] chrno04 opened #107 "How Implement SSL with loopback and fireloop"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ x] Other

Write other if any: 1.0.0-beta.2.5

#### Please add a description for your issue:

I need to implement SSL in my loopback aplication , I use the package  loopback-ssl with the default configuration and load my cert , al

[2017-06-26 13:44] jonathan-casarrubias commented on #106
Hey @ittechsathish thanks for reaching out, I will verify the issue asap

Cheers
Jon

[2017-06-26 14:04] jonathan-casarrubias commented on #107
Hi @chrno04 thanks for reaching out,

Hey so... I believe there will be a couple changes to make the SSL work, I'm just finishing all related to security and I think is the right time to make sure SSL works.

I'll need your help to make this work and then I will publish the fixes ASAP.

First  locate and open the following file:

`sdk/sockets/socket.connections.ts`

Then change the following prope

[2017-06-26 14:37] chrno04 commented on #107
well i got the ssl work, with the package [yantrashala/loopback-ssl](https://github.com/yantrashala/loopback-ssl) ( only i need to add the server variable to the app.emit("started");  of the library as you put in the readme for loopback-component-realtime, i changed the method to `app.emit('started', server);`) , i test your method today and inform you, but one thing i need to change is the intern

[2017-06-26 14:51] jonathan-casarrubias commented on #107
@chrno04 you are correct, the internal and server clients will require to be configured as well

[2017-06-26 15:48] chrno04 commented on #107
Analyzing a little the situation, while I load the certificates to the server variable and pass it through the internal event 'emit' the socket.io gets the certificates, the method in the [yantrashala/loopback-ssl](https://github.com/yantrashala/loopback-ssl) are

[code]
[code]
[code]

[code]
 i modify the method appStartEvent to receive the variable server like you show in the readme of realtime.

[2017-06-27 14:25] neolution opened #108 "Operation hook example for beforeSave (create, upsert) in typescript?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [X] Other (loopback 3.x)
Write other if any:

#### Please add a description for your issue:

I didn't find an example how to use the "beforeRemote"-method "create" for an model in fireloop (typescript)?

How to reference to another

[2017-06-27 15:32] chrno04 commented on #108
if you mean the method in the model.ts in loopback ( generate for the fireloop model) for example to use the method beforeSave ( is already generate with fireloop)

[code]
you can use `this.model.app.models` to get access to the models in loopback and querying like in the oficial tutorial of loopback [Querying data](http://loopback.io/doc/en/lb3/Querying-data.html), for access a related model you

[2017-06-27 17:00] neolution commented on #108
Ok Thank you for your fast response.

Do you have a solution for my remotemethod "create" also?

Update: I solved it.

@Model({
  hooks: {
    beforeSave: { name: 'before save', type: 'operation' },
    **beforeRemoteCreate: { name: 'create', type: 'beforeRemote' }**
  },

class Booking {
  // LoopBack model instance is injected in constructor
  constructor(public model: any) { }

  // Example Ope

[2017-06-28 22:18] #108 closed, assigned to nobody

[2017-06-29 14:04] #101 closed, assigned to nobody

[2017-06-29 14:04] jonathan-casarrubias commented on #107
Hey @chrno04 have you succeed on implementing SSL?

[2017-06-29 15:30] chrno04 commented on #107
@jonathan-casarrubias The ssl works perfectly with the method explained in the previous post, with the method you mentioned when converting the json file to .js it seems that loopback not recognize it when start .

Basically i load the certificates directly to the variable server using the loopback-ssl package, so when running the method app.emit ('started', server); The socket already collects th

[2017-06-29 20:44] zmazouzi opened #109 "failed: Error in connection establishment: net::ERR_ADDRESS_INVALID"
the tutorial about creating Real time statsExample with fireloop  doesn't work
link of tutorial by MEAN.EXPERT :  http://docs.fireloop.io/en/realtime-stats-example/

here is the error :

2VM235:35 WebSocket connection to 'ws://0.0.0.0:3000/socket.io/?EIO=3&transport=websocket' failed: Error in connection establishment: net::ERR_ADDRESS_INVALID
WrappedWebSocket @ VM235:35
65VM235:35 WebSocket conne

[2017-06-29 20:58] jonathan-casarrubias commented on #109
@zmazouzi thanks for reaching out,

hey so.. just make sure you are actually running both, the server and the client.

Because of the error I'm assuming the server is not running

[2017-06-29 21:08] zmazouzi commented on #109
thank you for that awesome tool ..yes both the server and the client are running  but it doesn't seem to work , we are using windows 10 can it be the problem ,  thank you for your help

we are using the : FireLoop Version: 1.0.0-beta.2.6

![44](https://user-images.githubusercontent.com/19895489/27710289-c014b328-5d0e-11e7-91b0-107557029d97.PNG)

[2017-06-29 21:16] enimiste commented on #109
Hi,

I have the issue i run the command `fireloop serve`  and i have the two servers running ( i can get to http://localhost:3000/explorer and http://localhost:4200) but when i open the console of chrome on the angular part i get the same message.

I use also Windows 10. Is this specific to the OS ?

Thanks

[2017-06-30 12:28] enimiste commented on #109
I had a discussion on Fireloop Slack with @davexs2020 and @jonathan-casarrubias and this is a Windows users issue :
### First :
To have two options :
- User the last release of fireloop (published yesterday)
- Or, Add mixins from this repo : [https://github.com/mean-expert-official/loopback-component-realtime](https://github.com/mean-expert-official/loopback-component-realtime)

### Next :
- And y

[2017-06-30 14:19] jonathan-casarrubias commented on #107
That make sense, I will add a config setter for the secure true in both, the backend and front-end to fix this issue. I will also add documentation referring to this process.

Thanks for looking into it.

Cheers
Jon

[2017-07-07 14:08] tohagan opened #110 "Integration of Ionic to `fireloop serve` + Ideas for future integrations."
#### What type of issue are you creating?
- [ ] Bug
- [X] Enhancement
- [X] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Currently Ionic apps are not support by the `fireloop serve` command.

#### Solutions:

I've just got `ionic serve` spawning for when you run `fireloop s

[2017-07-15 14:43] jonathan-casarrubias commented on #110
Hi @tohagan thanks for reaching out, and sorry for the late response..

Hey so, I'm not sure at what point we removed the ionic serve, but your proposal is correct... I will try to add it and publish it as soon as possible, also the nativescript one is missing, I'll add that

[2017-07-18 16:53] Nosfistis commented on #3
Is [fireloop.io](fireloop.io) down?

[2017-07-18 20:52] jonathan-casarrubias commented on #3
Hey @Miced thanks for reaching out...

Yes we are having some troubles here, I have 1 expired CC and I need the replacement, and a Lost the other one... so unfortunately I'm unable to pay the service until I fix the problem with the bank.

I'm sorry for the issue, I'll try to fix this asap..

Cheers
Jon

[2017-07-19 11:56] davexs2020 opened #111 "fireloop and nativeapp client errors when running android"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
Here are the steps I used:
$ fireloop
Generate FireLoop > fireloop > 3.x > api-server

$ fireloop
Generate Angular2 Client > Angular 2 {N}ative > nativeap

[2017-07-19 19:20] jonathan-casarrubias commented on #107
@chrno04 I did the necessary implementations to achieve your approach, that is published now...

within component-config.json

[code]

within the SDK

[code]

With that you will be able to achieve your approach. I say this because while I was doing it I figured out there is another way.

If you are serving with Nginx block with SSL config and proxypass to localhost:3000, you don't even need to con

[2017-07-19 19:20] #107 closed, assigned to jonathan-casarrubias

[2017-07-21 06:24] appunnicer13 opened #112 "Documentation page shows TIMED OUT"
#### What type of issue are you creating?
- [*] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [*] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any: Documentation timed Out

#### Please add a description for your issue: Seems like http://docs.fireloop.io/en/api/ is  not working anymore.

[2017-07-21 16:54] dmastag commented on #107
@chrno04 I am also an Ionic user. Did you manage to get the ssl working with the new update?

[2017-07-24 15:54] jonathan-casarrubias commented on #112
@appunnicer13 I had a CC expiration issue, but I have just fixed that and now all the sites are up and running again...

Thanks for reporting

cheers
Jon

[2017-07-24 15:54] #112 closed, assigned to nobody

[2017-08-06 21:44] hellraiserii commented on #104
Hi!
I'm still having this very same problem in the 1.0.0 beta 2.6 version which was supposed to fix it.
I believe it was because @tohagan got rid of the '--v2' flag in .js generated code instead of the .ts code. In the end, the change was never commited to master by @jonathan-casarrubias. Please correct me if I'm wrong, I'm kind of newbie just yet in these matters.

[2017-08-08 12:42] NicolasDurant opened #113 "How do I implement resetPassword with FireLoop using the default user-model?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
2.1.0
#### Please add a description for your issue:

So in my /xyz.component.ts, I'm calling the resetPassword method from /user.ts. In the LoopBack documentation it says:

But how do I catch the event

[2017-08-09 14:24] jonathan-casarrubias commented on #104
@hellraiserii thanks for reaching out, I will verify but your argument makes sense, so if that is the case I'll try to add that to the TS file, compile it and publish with the patch asap.

cheers
Jon

[2017-08-15 13:13] jurienhamaker opened #114 "New Project "Cannot find name 'module'""
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n) Beta 2.6 to be exact
- [ ] Other

Write other if any:

#### Please add a description for your issue:

I get the following error using docker (I dont think it has anything to do with docker though):
[code]

On a fresh generated project

[2017-08-17 13:18] MROALI commented on #113
I have the same question as above...
how to intercept the reset password request. i added the function on the common\account.ts but it's not intercepted
class Account {
  // LoopBack model instance is injected in constructor
  constructor(public model: any) {

  }

  public resetPasswordRequest(info:any) {
    console.log("sent new password by mail");
  }
}

[2017-08-17 14:39] MROALI commented on #113
I found the solution for my account model which extend the user model :

In fact you must to implement a remote method in the model.ts file for example :
1- add a new remote method to the model.ts
   **remotes: {
        resetPasswordRequest: {
      returns : { arg: 'result', type: 'array' },
      http    : { path: '/reset', verb: 'post' }
    }
}**

2- then add the method :
  **public resetPass

[2017-08-17 17:07] jurienhamaker commented on #114
Solved by using your nodemon.json in the server folder instead of my own.

[2017-08-17 17:07] #114 closed, assigned to nobody

[2017-08-18 09:16] NicolasDurant commented on #113
Hey Mroali,

that already helped me alot. May I ask how you execute the
resetPassword()-method from your account model?
I seem to be doing it wrong, because when I execute the resetPassword() on
my Customer Api (same as your account, extended model from the default user
model), it still does not trigger the method resetPasswordRequest()
implemented in the customer.ts file.

Thanks for any help!

2

[2017-08-18 10:58] MROALI commented on #113
Bonjour Nicolas,
I removed my old comment because it is not the good way to do it.
In fact the solution is too easy : it consist of adding the following in the constructor of the customer model :

constructor(public model: any) {
       **model.on('resetPasswordRequest', function(info:any) {
          console.log("test");
  });**

[2017-08-18 12:17] NicolasDurant commented on #113
Wow! That's amazing and depressing at the same time.
Thank you so much for your quick responses!
Solved my problem, have a great day :)

[2017-08-18 12:17] #113 closed, assigned to nobody

[2017-08-18 15:45] MROALI opened #115 "Validation model data"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ x] Other

Write other if any:
Release 1.0.0-beta.2.6
#### Please add a description for your issue:

how can i add model data validation as mentionned in https://loopback.io/doc/en/lb3/Validating-model-data.html
i tried to add thi

[2017-08-18 16:02] jonathan-casarrubias commented on #115
Hi @MROALI thanks for reaching out,

Hey so... That actually should work, the FireLoop model constructor represents the function you usually see in a LoopBack model

[code]

equals

[code]

So technically that should work, I'll try to verify if I can replicate the issue and fix it if necessary but at first sight I'm out of ideas it should just work lol, lets see.

Cheers
Jon

[2017-08-21 12:30] topalavlad commented on #104
Is there any workaround for this? I just started using fireloop and was stopped by this :)
FireLoop Version: 1.0.0-beta.2.6

It seems ok after I replaced the first line with the second one in `/usr/local/lib/node_modules/@mean-expert/fireloop/node_modules/generator-fireloop/generators/ng2ionic/index.js:`
[code]

[2017-08-22 16:47] jonathan-casarrubias commented on #104
Hey guys sorry for the delay, I removed the --v2 flag you should be able to make it work on version

1.0.0-beta.2.6

Regards

[2017-08-24 13:05] pmc-sstaehle opened #116 "How can I call a remot method?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ X] Other ==> 1.0.0-beta.2.6

Write other if any:

Hi there, first of all I wanted to thank you for this nice framework. But when I digging a little bit deeper into the logic I'm standing in front of a strange problem. My steps to

[2017-08-25 08:06] pmc-sstaehle commented on #95
Hi @rajweb, did you already find a solution for this?

[2017-08-27 07:02] plunkettscott opened #117 "Loopback Model in JS not TypeScript"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
1.0.0-beta.2.7

#### Please add a description for your issue:

The documentation shows that when running `fireloop model MyModel` and completing the prompt, the created model should be in TypeScript, h

[2017-09-02 07:06] MROALI commented on #115
Hello @jonathan-casarrubias ,
It seems that it is not working.
1- I added model.validatesLengthOf('password', {min: 7}); in my class constructor
2- I tried to create an account with 3 characters password length
3- No error returned by the api.
Normally it must return the default message error :
min: too short

Do you any idea.
My model name is account and it's extending the user default model, i d

[2017-09-05 12:07] juliancuni commented on #107
@jonathan-casarrubias @dmastag How about this error?

`WebSocket connection to 'wss://mydomain.com/socket.io/?EIO=3&transport=websocket' failed: Error during WebSocket handshake: Unexpected response code: 200`

I managed to solve this problem by hacking nginx conf a little bit.
My situation is like this:
In the same server I have both front end and back end.
So, in nginx config "location /" is tak

[2017-09-06 12:46] ptesar-xyndata opened #118 "Authentication to the LB 3.0"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [x] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

Authentication using loopback-component-realtime is not working correctly.

Even the token is accepted and emited, by debuging of backend I get this errors:

loopback:security:access-context --Context

[2017-09-06 14:07] ptesar-xyndata commented on #118
I have searched further and the function :

FireLoop.checkAccess

have ctx.socket.token empty, even when I get :
@mean-expert/loopback-component-realtime: Internal server client is authenticated
@mean-expert/loopback-component-realtime: Internal client is authenticated

[2017-09-11 13:50] sarpaykent opened #119 "Fireloop fresh install webpack error"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:1.0.0-beta.2.7

#### Please add a description for your issue:

Hello, after creating project (server&client), there is a problem when serving client.

Logs:
[code]

[2017-09-11 14:19] sarpaykent commented on #119
Solved with;
`npm install --save-dev @angular/cli@latest`

[2017-09-11 14:19] #119 closed, assigned to nobody

[2017-09-11 14:34] jonathan-casarrubias commented on #118
@PatrikTes the internal server and clients are not related to Angular clients, these are for internal mechanisms.

I have just added a documentation for authentication.

https://github.com/mean-expert-official/fireloop.io/wiki/Authentication

Make sure you have the auth enabled and you need to also make sure you create real-time connections after you authenticate and not prior.

Cheers
Jon

[2017-09-11 14:43] jonathan-casarrubias commented on #119
:D glad you found the issue..

cheers
Jon

[2017-09-11 14:46] jonathan-casarrubias commented on #115
well that is really strange, I'll try to verify as soon as I can.. not sure being a user based model would affect, it is just odd because the model parameter was never mutated so it is what loopback is sending as model, therefore the validatesLengthOf should work, not sure if we are not seeing something obvious here

[2017-09-11 22:26] ptesar-xyndata commented on #118
YES! It WORKS!!!! Thank you Jonathan!

[2017-09-11 22:26] #118 closed, assigned to jonathan-casarrubias

[2017-09-12 16:00] MROALI commented on #115
Hello @jonathan-casarrubias,

I think i have an idea about the problem. It's not related to fireloop.
It's related to loopback, the problem is that loopback is validating the length of the password hash, and not the password by it self.

So if i use for example model.validatesLengthOf('password', {min: **100**});  ==> the validation works.
but for model.validatesLengthOf('password', {min: **7**});

[2017-09-13 18:46] WhatzzUp commented on #116
Hey @pmc-sstaehle,

first of all i guess you created sth like this:

[code]

After you rebuild the fireloop SDK, a new custom services has been created at your sdk path:

The created file is named by your class.

To use your custom remote method, you only need to inject this service inside your class.

[code]
I hope I could help you,

Cheers

Chris

[2017-09-14 08:41] pmc-sstaehle commented on #116
Yes, thats exactly what I wanted to achieve!
Thank you, @WhatzzUp

[2017-09-17 13:43] Nosfistis opened #120 "Model class Loopback typings"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other (1.0.0-beta2.7)

#### Please add a description for your issue:
Loopback currently does not ship with typings, however there are typings in the DefinitelyTyped repo. I guess most of these do not work well with Fireloop's st

[2017-09-18 14:50] Boromir1994 commented on #117
After finishing adding properties on next empty property just press "Enter" and model will be in TypeScript. Above row "Property name:" Loopback make hint for you: "Enter an empty property name when done."

[2017-09-24 19:24] aleho70 opened #121 "Domain fireloop.io"
Domain fireloop.io is not working, so what is the future of the project? Forget it and wait for Loopback 4?

[2017-09-25 19:57] jonathan-casarrubias commented on #121
Hey @aleho70 thanks for reaching out... The problems with the domain are now fixed.

About the project I can confirm that LB4 really affected the plans for this project, I have been following from the very beginning the LB4 development process and it is reaching to the point that the fireloop core modules could be developed on top of LB4.

LB4 might or not provide real-time functionalities, once t

[2017-09-26 08:56] aleho70 commented on #121
Hi Jon,
the typescript and realtime functionality was the reason why I found your project. Previously I developed myself realtime layer above LB2 and I need to move it to the new generation and of course use typescript. So I see that I should wait until LB4 will be ready, to be sure that it is right way. And I agree that it will bring big changes but I hope that they will help build cleaner code.

[2017-09-26 10:20] Nosfistis opened #122 "Non-public models should generate a TS model"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any: 1.0.0-beta.2.7

#### Please add a description for your issue:
In order to use TS auto-completion in loopback, I am currently using the MyModelInterface files generated in the UI SDK. However, if a mode

[2017-09-28 21:31] b3nab commented on #111
I has the same problem.
I might think that the problem is inside the `package.json` of your nativescript folder (something like `fireloop/nativeapp`).

    "nativescript-socketio": "^2.4.0",

My suggested solution is to do these steps:
1. Remove `nativescript-socketio` with `npm uninstall --save nativescript-socketio`
2. Delete the folder `platform/android`
3. Rebuild the platform folder with `tns

[2017-09-29 12:39] NicolasDurant commented on #116
If Chris answered your question, you might want to close the issue unless there's another question related to it ;) @pmc-sstaehle

[2017-09-29 13:35] jonathan-casarrubias commented on #121
@aleho70 yes I know I had something promising with all the work I did to build FireLoop on top, but definitely LB4 changed everything, I still think I can rebuild on top of LB4, since I'm pretty sure they won't provide what we have here. But I definitely don't have the resources to maintain FireLoop for LB2~3 and a different one for LB4, so we will wait until LB4 is there.

If you already built a

[2017-10-01 11:12] Nosfistis opened #124 "Integrate HttpClient instead of Http"
#### What type of issue are you creating?
- [ ] Bug
- [x] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any: 1.0.0-beta.2.7

#### Please add a description for your issue:
Angular 4.3 added [HttpClient](https://angular.io/guide/http), a replacement for Http which allows for easier and better requests. Are ther

[2017-10-01 21:18] b3nab commented on #111
I am writing a fix for all errors in this issue.
Soon a PR.

UPDATE: I send a Pull Request to this repo. #125  Waiting the boss 🤓

[2017-10-02 03:43] tohagan commented on #94
You might want to have a look at [Loopback 3 Offline Sync](https://loopback.io/doc/en/lb3/Synchronization.html)

[2017-10-05 13:45] jonathan-casarrubias commented on #124
Please follow this issue https://github.com/mean-expert-official/loopback-sdk-builder/issues/497

[2017-10-05 13:45] #124 closed, assigned to nobody

[2017-10-05 13:49] jonathan-casarrubias commented on #122
@Miced well I think that sounds fair, not exposing API services but the model I think it makes sense.

I think we need to also move this one to the SDK repo

[2017-10-05 13:50] #122 closed, assigned to jonathan-casarrubias

[2017-10-05 13:52] jonathan-casarrubias commented on #120
@Miced It is a shame, but the LB4 refactor affected/changed all the plans, actually we were mapping LB typings based on that, but the current plans is to wait for the LB4 developer version to be released, and then we will refactor the SDK Builder and the Real-Time Components on top of that.

By that moment all of our typescript work would be sadly deprecated.

[2017-10-05 13:53] jonathan-casarrubias commented on #117
Hey @plunkettscott were you able to generate the model? can I close this issue

[2017-10-05 13:55] jonathan-casarrubias commented on #116
@pmc-sstaehle are you good with this issue? are we able to close it?

[2017-10-05 14:02] pmc-sstaehle commented on #116
Thank you, it's fine! My problem is solved. And I'm gonna close the issue.

[2017-10-05 14:02] #116 closed, assigned to nobody

[2017-10-08 22:45] Nosfistis commented on #120
@jonathan-casarrubias I understand your point, indeed I browsed the LB4 notes last week and it seems better to wait for the official integration.

[2017-10-08 22:45] #120 closed, assigned to nobody

[2017-10-09 05:29] alex-w-dev opened #126 "One Way Socket connection"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [*] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [*] Other

Write other if any: FireLoop Version: 1.0.0-beta.2.7

#### Please add a description for your issue:
Please help Me. I try to create real-time Angular2 todo-app...
I can connect to server ... OK
I can sent data to server .

[2017-10-09 13:03] jonathan-casarrubias commented on #126
Hi @alexander-w-dev I believe you followed the blog article which is a little behind, the only missing step you need to do is to enable the FireLoop mixing for your model

https://github.com/alexander-w-dev/firelooptodo/blob/master/todo-api/common/models/todo.json

That is stated on the official docs and the realtime component readme

https://github.com/mean-expert-official/loopback-component-real

[2017-10-09 14:42] alex-w-dev commented on #126
added mixin + rebuild SDK = works!

@jonathan-casarrubias  Thank you very much! Brilliantly!

[2017-10-09 14:42] #126 closed, assigned to nobody

[2017-10-09 14:54] alex-w-dev opened #127 "Can't catch some events"
#### What type of issue are you creating?
- Bug

#### What version of this module are you using?
### FireLoop Version: 1.0.0-beta.2.7

#### Please add a description for your issue:
- [ ] I can't catch 'child_changed' event! i think it should works as like as 'child_removed' (child_removed works).
- [ ] Also I catch 'child_added' on all items (old and new), but added just one. I think it works inco

[2017-10-10 19:46] jonathan-casarrubias commented on #127
Hi @alexander-w-dev thanks for reporting, the child_changed is not actually implemented, I'm not sure when we added that into the docs but it should not be there. sorry for that.

About the child_added I just verified and it does have a problem, it is the default limit from the on method. for now you can just work around the issue by passing a filter for that with limit 1.

I'll try to fix these i

[2017-10-11 07:35] alex-w-dev commented on #127
@jonathan-casarrubias thank you for feedback !
child_added - OK, i will use filter
child_change - OK too ... i think it can be replaced by "change" with filter

[2017-10-11 08:23] #127 closed, assigned to nobody

[2017-10-12 05:25] tohagan commented on #104
I think we can close this now.

[2017-10-13 20:18] plunkettscott commented on #117
I can generate the model, however, it is not in TypeScript. The issue wasn't generating it. I was under the impression that models in Loopback were supposed to be in TypeScript? Is that not the case, @jonathan-casarrubias?

[2017-10-13 20:48] bitingedgemick commented on #117
@plunkettscott can you show us what is being generated?

[2017-10-18 09:35] Nosfistis commented on #61
I tried to add the definition this way, while also adding in constructor:
[code]
to link the class function to the instance method. It works and the log prints the instance object (since this does not refer to the class anymore) but it gives TS errors when trying to access the object properties (such as id). Also, accessing the class model/application via this.constructor gives TS errors again.

A

[2017-10-18 15:29] Nosfistis opened #128 "Relation having same name as foreign key results fails Angular build"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
1.0.0-beta.2.7

#### Please add a description for your issue:
Having a model with a relation whose name and foreignKey are the same (so that the JSON produced has either number or the object) results i

[2017-10-24 05:29] #65 closed, assigned to nobody

[2017-10-24 15:32] luisomoreau commented on #106
Hello!
Any solution?
I have the same issue
Thanks

[2017-11-10 00:50] tohagan opened #129 "REST API documentation needed on http://docs.fireloop.io/en/api/"
#### What type of issue are you creating?
- [ ] Bug
- [X] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

I can only find documentation for the FireLoop Real-time api but not the REST api that I understand it includes.  Can you please add documentation for th

[2017-11-10 00:56] tohagan commented on #129
The only way I know that the REST api existed was via a reply made in the community questions. Apart from that it was unknowable AFAIK.

-   https://github.com/mean-expert-official/fireloop.io/issues/22#issuecomment-289494150

[2017-11-12 05:45] tohagan opened #130 "How to use typesafe PersistedModel and Validatable on model type"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

I’ve posted this StackOverflow question and also contacted Raymond Camden in the hope that I can find out how to do typesafe Fireloop on both server and

[2017-11-12 09:38] SpeedoPasanen opened #131 "Vanilla (but updated) install, client build gives module not found: 'socket.io-client'"
#### What type of issue are you creating?
- [ x ] Bug

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ x ] Other

Write other if any:
1.0.0-beta.2.7
OT: How do you install 2.x? Running npm install -g @mean-expert/fireloop@latest gives me 1.0.0-beta.2.7.

#### Please add a description for your issue:

- Generated a server & client, one model and DS, SDK with PubS

[2017-11-12 09:47] SpeedoPasanen commented on #131
Nevermind, i see socket.io-client 2.x is incompatible. Work-around: `npm install --save socket.io-client@^1.7.2`

[2017-11-13 15:28] jonathan-casarrubias commented on #130
@tohagan thanks for reaching out,

Hey so... We were actually working on mapping the good old LoopBack but stopped our work on this version of FireLoop due the LoopBack 4 announcement.

We won't be supporting this version for much longer, we are already working on a compatible version for LB4.

Anyway, for this specific issue we had good progress so, you might be able to import

[code]

I hope thi

[2017-11-16 21:31] tohagan commented on #130
Thanks!  Looking forward to LB4 Fireloop.

Would be nice to include `@fireloop/core` in the template used to generate your fireloop app.
I had no idea that this package existed.

[2017-11-16 22:13] tohagan commented on #130
I found that `ModelConstructor` validation methods were missing arguments like `{ message: 'my error message' }` and methods like `exists()` returned `Promise<any>` instead of `Promise<boolean>`.  The type definitions in [Loopback 3 Type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/loopback/index.d.ts) were more complete but were unusable unless fixed.

In the

[2017-11-17 03:48] tohagan opened #132 "Cannot set id with "idInjection": false and "id": true"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?

    "@mean-expert/boot-script": "1.0.0",
    "@mean-expert/loopback-component-realtime": "1.0.0-rc.9.3",
    "@mean-expert/loopback-sdk-builder": "2.1.0-rc.12.1",
    "@mean-expert/model": "1.0.9",

Write other if any:

#### Please add a description for your issue:

[2017-11-17 04:05] tohagan commented on #132
Fixed after I rebuilt the database!

[2017-11-20 10:44] mahnuh commented on #94
+1

[2017-11-20 10:50] tohagan commented on #94
Another potential stratgey for this might be [Loopback <=> CouchDb](https://github.com/strongloop/loopback-connector-couchdb2) (store) <=> [PouchDb](https://pouchdb.com/) (client)
- Here's my rant about [CouchDb/PouchDb as an alternative to Firebase](https://stackoverflow.com/questions/25990048/offline-firebase/30044230#30044230) that covers lots of stuff.

[2017-11-24 20:16] osamasaeed commented on #1
I am facing many trouble in integrating Fireloop with Nativescript.
Is there any documentation or example of native app with fireloop ?

[2017-11-27 19:51] osamasaeed commented on #111
I was also facing the same issues. But I have resolved them by following above suggestions.
but still REST API working and Real time not working.
any solution.
 I really Love Fireloop and Loopback and working on loopback from two years.

[2017-12-10 20:11] Nosfistis opened #133 "ngrx modules and loopback-filters missing in latest version SDK"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any:
1.0.0-beta.2.7

#### Please add a description for your issue:
I updated to the latest build from npm, and building the Angular SDK now fails since ngrx modules are missing, as well as loopback-filters.

[2017-12-10 20:16] Nosfistis commented on #133
This is mostly related to [loopback-sdk-builder](https://github.com/mean-expert-official/loopback-sdk-builder/issues/544) latest version.

[2017-12-11 00:53] #133 closed, assigned to nobody

[2017-12-18 07:51] ChristianLimes opened #134 "Graceful shutdown blocked by loopback-component-realtime"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other
1.0.0-beta.2.7

Write other if any:

#### Please add a description for your issue:

Hy,
I try to implement a graceful shutdown (npm install express-graceful-exit) into fireloop. Unfortunately, it does not work. I start wit

[2017-12-20 14:31] eduardoarn commented on #106
I have the same problem
Any solution ?

Minho's palatative solution was to use the this definition method:

`afterRemoteSave: {name: 'after save', type: 'operation'},`

but I really need to run the method only on creation and not update

[2018-01-08 09:32] ittechsathish opened #135 "The Documentation link is not showing the content loading loading and loading....."
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

[2018-01-08 09:47] ittechsathish opened #136 "Fireloop will support three way databinding like firebase?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [* ] Question

[2018-01-08 20:35] jonathan-casarrubias commented on #136
Hi @ittechsathish I think adding 3w data binding would be awesome in the next version of FireLoop.

I don't think it will be possible for the current version, since everything now is being refactored due LoopBack 4 (Next), so all of these new features won't run under the current version

I hope this clarifies your question

[2018-01-08 20:40] jonathan-casarrubias commented on #134
Hi @ChristianLimes, well your description would be an unexpected behaviour, we would need to verify how to fix this issue.

I believe this is a design problem since LoopBack 1~3 does not provide a way to shut down loaded components, we might workaround by using an internal app.event, but I'm not entirely sure at what point you would send that event.

For instance in LoopBack 4 I'm already building

[2018-01-08 21:05] jonathan-casarrubias opened #137 "FireLoop NEXT (FINAL ANNOUNCEMENT)"
Final Announcement
===================

Hello guys, through this final announcement I want to communicate that I'm definitely stopping the support for the FireLoop project and all of the modules related to LoopBack like the SDK Builder.

I know I just published a couple of months ago that I was working on building FireLoop on top of LoopBack 4 again, but after some time, I found that following tha

[2018-01-10 14:52] ChristianLimes commented on #134
Hi, @jonathan-casarrubias sounds great if you add this module to the next version.
I want to shut down the server by docker container.
The docker container gets a signal from us to shut down. Then the container sends a "SIGTERM" signal to fireloop that we catch. If we get this signal we can close all open connections (Database)

[2018-01-17 15:26] juliancuni opened #138 "Angular 4 Model filtering relations"
How to filter multiple related modes?
e.g.
this._model.find({where: {something: true}, **include**: [**"relatedmodel1"**, **{"relatedmodel2": {where: {"someProperty": true}}**}]}).subscribe((etc: Etc[]) => {});

[2018-01-17 15:45] juliancuni commented on #138
I am sorry for flooding your issues.  I have implemented this before. I am closing this issue.

[2018-01-17 15:45] #138 closed, assigned to nobody

[2018-01-27 13:44] ildar-faizov opened #139 "Multiple emits when using 'create'"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x] Other

Write other if any: 1.0.0-beta.2.7

#### Please add a description for your issue:

Assume I want to create multiple objects using FireLoopRef#create and subscribe to its result.
[code]
In the output each entity will be me

[2018-01-27 23:31] certifirm opened #140 "Remote method and onRemote with RealTime"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [X] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:
`
Loopback:

    Mensajeschats.enviarmensaje = function (usuariocont, mensaje, options, cb) {
        var userid = options.accessToken.userId

    Mensaje

[2018-01-29 12:29] certifirm commented on #139
Are you using Ionic, Angular, ...?  I had similar issue in Ionic, because the onReady event starts multiple times.

[2018-01-29 13:50] ildar-faizov commented on #139
@jotae1e I'm using Angular only.

[2018-01-29 15:43] certifirm commented on #139
Another question.  Are you using authentication?

https://github.com/mean-expert-official/fireloop.io/wiki/Authentication

Can you test if when you go out of the page and then reenter to the same page, WITHOUT reload the app, have you one plus result?

Like:
1
1
1
2
2
2

[2018-01-29 15:59] certifirm opened #141 "onReady runs multiple times"
#### What type of issue are you creating?
- [X] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

I am using Ionic with Loopback with the realtime-component.

I have one Module with the code of authentificacion:

`
ngOnInit() {
    if (
      this.rea

[2018-01-30 09:35] ildar-faizov commented on #139
@jotae1e no, I'm not using authentication. It is disabled in configs. The code from my example is not from loading scenario. It is a simple button - when clicked, it runs a loop and creates a few instances in a cycle. Not sure I fully understand how to reenter the same page without reload when there is no authentication.

Probably I can show the reason of such behavior. Here is an excerpt from Fir

[2018-02-01 08:56] Hadh commented on #1
Hey, any updates on the matter of integrating React to Fireloop?

[2018-02-01 16:44] certifirm commented on #139
I see.  Nothing to add.  May require some work to correct this bug.

[2018-02-04 11:53] Nosfistis commented on #129
As mentioned in the comment, the REST api follows the documentation of Loopback. You can read about it on the [official Loopback docs](http://loopback.io/doc/en/lb3/).

[2018-02-09 15:10] totalard opened #142 "Any Upgrade to angular 5?"
#### What type of issue are you creating?
- [ ] Bug
- [-] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

Kinldy Upgrade to Latest Angular 5

[2018-02-10 17:19] jonathan-casarrubias commented on #1
Hi @Hadh thanks for reaching out.

Hey so, the only integration we already have is through REST Services, the SDK already creates services to communicate from REACT to LoopBack and backward.

Unfortunately, there is no FireLoop implementation for React and to this point, I don't think it will ever be.

After several inconveniences with LoopBack, I have decided to leave it and therefore FireLoop as

[2018-02-10 17:51] jonathan-casarrubias commented on #137
Final Announcement
===================

Hello guys, through this final announcement I want to communicate that I'm definitely stopping the support for FireLoop project and most of the modules related to LoopBack.

I know I just published a couple of months ago that I was working on building FireLoop on top of LoopBack 4 again, but after some time, I found that following that path was a really wron

[2018-02-10 18:23] jonathan-casarrubias commented on #142
Hi @totalard thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angul

[2018-02-10 18:23] #142 closed, assigned to nobody

[2018-02-10 18:24] jonathan-casarrubias commented on #141
Hi @jotae1e thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angula

[2018-02-10 18:24] #141 closed, assigned to nobody

[2018-02-10 18:25] jonathan-casarrubias commented on #139
Hi guys thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5,

[2018-02-10 18:25] #139 closed, assigned to nobody

[2018-02-10 18:25] jonathan-casarrubias commented on #140
Hi @totalard thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angul

[2018-02-10 18:25] #140 closed, assigned to nobody

[2018-02-10 18:26] jonathan-casarrubias commented on #136
Hi @ittechsathish

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or

[2018-02-10 18:26] #136 closed, assigned to jonathan-casarrubias

[2018-02-10 18:26] #135 closed, assigned to nobody

[2018-02-10 18:27] jonathan-casarrubias commented on #134
Hi @ChristianLimes
Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or

[2018-02-10 18:27] #134 closed, assigned to jonathan-casarrubias

[2018-02-10 18:27] jonathan-casarrubias commented on #132
Hi @tohagan thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angula

[2018-02-10 18:27] #132 closed, assigned to nobody

[2018-02-10 18:27] jonathan-casarrubias commented on #131
Hi @funkizer  thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angu

[2018-02-10 18:27] #131 closed, assigned to nobody

[2018-02-10 18:27] #130 closed, assigned to nobody

[2018-02-10 18:28] #129 closed, assigned to nobody

[2018-02-10 18:28] jonathan-casarrubias commented on #129
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:28] jonathan-casarrubias commented on #128
Hi @Miced  thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular

[2018-02-10 18:28] #128 closed, assigned to nobody

[2018-02-10 18:28] #121 closed, assigned to jonathan-casarrubias

[2018-02-10 18:29] jonathan-casarrubias commented on #121
Hi @aleho70
Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even pl

[2018-02-10 18:29] jonathan-casarrubias commented on #117
Hi guys thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5,

[2018-02-10 18:29] #117 closed, assigned to nobody

[2018-02-10 18:30] jonathan-casarrubias commented on #115
Hi @MROALI  thanks for reaching out.

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angula

[2018-02-10 18:30] #115 closed, assigned to nobody

[2018-02-10 18:30] jonathan-casarrubias commented on #111
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:30] #111 closed, assigned to nobody

[2018-02-10 18:30] #110 closed, assigned to nobody

[2018-02-10 18:31] jonathan-casarrubias commented on #109
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:31] #109 closed, assigned to jonathan-casarrubias

[2018-02-10 18:31] jonathan-casarrubias commented on #106
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:31] #106 closed, assigned to jonathan-casarrubias

[2018-02-10 18:31] #104 closed, assigned to tohagan

[2018-02-10 18:32] jonathan-casarrubias commented on #95
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:32] #95 closed, assigned to nobody

[2018-02-10 18:32] jonathan-casarrubias commented on #94
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:32] #94 closed, assigned to nobody

[2018-02-10 18:32] #90 closed, assigned to nobody

[2018-02-10 18:32] #87 closed, assigned to nobody

[2018-02-10 18:33] #84 closed, assigned to jonathan-casarrubias

[2018-02-10 18:33] #82 closed, assigned to nobody

[2018-02-10 18:33] jonathan-casarrubias commented on #77
Hi @phra

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plai

[2018-02-10 18:33] #77 closed, assigned to nobody

[2018-02-10 18:34] jonathan-casarrubias commented on #72
Hi @beeman

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even pl

[2018-02-10 18:34] #72 closed, assigned to nobody

[2018-02-10 18:34] #70 closed, assigned to nobody

[2018-02-10 18:34] #67 closed, assigned to nobody

[2018-02-10 18:34] jonathan-casarrubias commented on #61
Hi guys

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even plain

[2018-02-10 18:34] #61 closed, assigned to nobody

[2018-02-10 18:34] #60 closed, assigned to jonathan-casarrubias

[2018-02-10 18:34] #44 closed, assigned to jonathan-casarrubias

[2018-02-10 18:34] #34 closed, assigned to nobody

[2018-02-10 18:35] jonathan-casarrubias commented on #24
Hi @vwchu

Hey so, I really want to apologize for saying this but I'm stopping the support for FireLoop or any LoopBack module I built.

I'm working on a new project from scratch that of course is not built on top of LoopBack or anything else, this new project will also provide a SDK but now it won't be FrameWork specific, therefore you should be able to use it in Angular 5, React, Vue or even pla

[2018-02-10 18:35] #24 closed, assigned to nobody

[2018-02-10 18:35] #22 closed, assigned to nobody

[2018-02-10 18:35] #13 closed, assigned to jonathan-casarrubias

[2018-02-10 18:35] #3 closed, assigned to jonathan-casarrubias

[2018-02-10 18:36] JonnyBGod commented on #137
Cool, I would pretty mush like to follow it and maybe contribute.
I totally get your point, thought about that several time now too. One needs some guts and time to go for a new framework though.

Good luck with the new project. And let me know when I can have a glance at it.

[2018-02-10 18:36] #1 closed, assigned to jonathan-casarrubias

[2018-02-10 18:40] jonathan-casarrubias commented on #137
Hey @JonnyBGod thanks, I did expect you to be the first one in response since you and I started working together on the SDK at the same time a while ago.

Yeah I know that feel has been around many of us for a while, I will be posting more about this new project soon, I want my first commit to be entirely tested. But I'll share a sneak peak now

![image](https://user-images.githubusercontent.com/1

[2018-02-10 20:27] Nosfistis commented on #137
Bummer to hear that the support is dropped for the fireloop project array, but good luck on your new one. I'm actually interested to see your new project out.

[2018-02-10 20:36] aleho70 commented on #121
Thank you for your message. I started to build my server also from scratch, based on microservices in typescript, currently above Nestjs with client side above ngrx. For realtime data synchronization layer between both I use some temporary solution above RethinkDB and I hope that I will replace it with something better later.

[2018-02-10 20:39] beeman commented on #137
Hey Jon,

Thanks for the clear explanation on why you are terminating support. I fully understand it, hopefully the current versions will keep working for a bit while I migrate my projects away from it.

Really looking forward to your new project.

Hope to talk soon, Cheers!

[2018-02-11 09:29] certifirm commented on #137
Really bad news for the comunity.

Thanks a lot for your explanation.  I will follow you on your new projects.  And thanks for all your contributions to Loopback.

[2018-02-11 10:04] dmastag commented on #137
@jonathan-casarrubias thanks for all your contributions to the community.
This comes as a shock since I have grown dependent on your modules and its actually the biggest reason why i have stayed on Loopback.

Good Luck on your framework, will definitely keep an eye on it!

[2018-02-11 10:09] certifirm commented on #137
Must we understand that loopback-component-realtime and loopback-sdk-builder for LB3 are out of maintanance too?

[2018-02-11 19:23] brannon-darby commented on #137
@jonathan-casarrubias - looking forward to the next one, brother.  let me know if there's anything i can do to help.

[2018-02-12 05:44] jeremyadoux commented on #137
@jonathan-casarrubias Thank for all your work.

What backend framework do you use, if not loopback ? And what do you think about LB4 ?

Thx

[2018-02-12 17:01] jonathan-casarrubias commented on #137
Hey guys thanks for your nice words, I'm glad you understand and are even interested in the new project.

I'm trying to solve some problems that I don't think any other framework is doing right now, though there are many other cool options out there like Nest I still believe I have something cool to offer.

Anyway I will provide more details once we launch the new site.

Cheers
Jon

[2018-02-23 13:17] davidpestana commented on #61
Hi guys...

i can solve it using a hibrid solution

1/ create a boot/script in server folder using javascript... not Typescript

![captura de pantalla de 2018-02-23 14-13-47](https://user-images.githubusercontent.com/5878617/36595764-cd4e622c-18a3-11e8-9844-58bb77a87bac.png)

2/ prototype your methods here

[code]

[2018-03-11 01:57] jonathan-casarrubias commented on #137
Hi Guys, anyone interested in the new project I'm starting to document it for you to start playing with it.

I really regret I didn't start FireLoop from scratch instead of building it on top of LoopBack as I did, but that helped many of you know this project and me to learn a lot of lessons, so I hope that now that I'm free to architect as I consider is best, I'm really hoping you guys to give it

[2018-04-01 14:22] #137 closed, assigned to jonathan-casarrubias

[2018-04-04 15:11] adechassey commented on #81
Hi guys,

Sorry to reopen this but I was searching for a way to handle user connection events.
Is there a kind of method working the same way as disconnection like **app.on('socket-authenticated')** ?

Thanks in advance,
Antoine

[2018-04-11 10:42] aitorllj93 opened #143 "Fireloop docs now point to onixjs"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

Write other if any:

#### Please add a description for your issue:

Fireloop docs now point to onixjs. [Check it](http://docs.fireloop.io/).

Do you know any good alternative for WebSockets on Loopback 3?

[2018-04-11 17:04] jonathan-casarrubias commented on #143
@aitorllj93 thanks for reaching out, hey so... Here I explain the reasons:

https://www.npmjs.com/package/@mean-expert/loopback-sdk-builder#official-communication

Though I'm not personally supporting any of the LB modules anymore, the SDK and RealTime components will remain up and updated as long as the community send patches.

Anyway, none of these modules will work by the moment LB4 is released

[2018-04-14 02:41] #143 closed, assigned to nobody

[2018-04-16 15:23] certifirm commented on #107
I think that this must be included in the IO driver or throw an error.

reconnect: true,
rejectUnauthorized: false

or put an option to enable or disable this features.  It's very usefull to work in local mode with a wrong certificate.

[2018-04-26 12:10] Nosfistis opened #144 "ts-node 6 breaks compilation"
#### What type of issue are you creating?
- [x] Bug
- [ ] Enhancement
- [ ] Question

After generating a new project (or updating an old one's ts-node version to 6+), using [pm2](http://pm2.keymetrics.io/) to start `server.js`. The error message shows ts-node complaining about experimental decorators in Typescript, although they are declared in tsconfig.

The issue occurs on a specific file (altho

[2018-04-28 05:43] JeetChaudhari opened #145 "Support for fireloop"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [x] Question

Hi Jonathan, If you remember we have communicated before on slack channel you created for fireloop.

Few days before you declared that you will not be working on fireloop anymore as you are going with OnixJs, which is awesome by the way. I really liked the concept and looking forward to using it in new projects t

[2018-04-28 13:32] jonathan-casarrubias commented on #145
Hi @JeetChaudhari thanks for reaching out,

Hey so... yeah I did shut down any fireloop server because of the cost of having those... Actually either the mean.expert domain or the fireloop domains where shut down because of the same reason..

After a month or so of being down.... then I got a free year of a google cloud instance where I'm running today OnixJS related services and websites, I didn'

[2018-04-28 15:57] JeetChaudhari commented on #145
Hi, @jonathan-casarrubias thanks for replying my questions.

I am glad to know all positive answers from your side to my proposal. I will soon set up all the required things to get this going.

I will do the needful for the community using fireloop in their existing projects.

Best Regards,
Jeet

[2018-08-04 16:39] imvasen commented on #144
Did you solved it? Or did you go back with v5.x.x? I'm having the same problems.

[2018-08-05 04:52] Nosfistis commented on #144
Ts-node v7 works fine. No problem there.

[2018-08-09 20:31] #144 closed, assigned to nobody

[2018-08-14 12:43] adechassey opened #146 "Fireloop CLI SDK generator broken on recent Node version"
#### What type of issue are you creating?
- [x ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x ] Other

Write other if any: 1.0.0-beta.2.7

#### Please add a description for your issue:

Fireloop CLI SDK generator is broken with latest Node version (tested 10.8.0).
Step 3: "? In what directory should the SDK be created? (

[2018-08-31 11:50] Nosfistis opened #147 "Supporting async remote functions"
Is it possible that we add a property to support async functions? I have tested it so far using Node's [promisify](https://nodejs.org/dist/latest-v8.x/docs/api/util.html) with no problem.

Since every remote method is promisified, even callback-based ones are supported, therefore there seems to be no backward-compatibility problem, although that would set node requirements to version 8.0+. Loopbac

[2018-10-14 20:54] milseg opened #148 "Readme's documentation link is broken"
#### What type of issue are you creating?
- [x ] Bug
- [ ] Enhancement
- [ ] Question

#### What version of this module are you using?
- [ ] 2.1.0-beta.n (2.1 Beta n)
- [x ] Other

Write other if any: The version in the master branch

#### Please add a description for your issue: Readme's [documentation link](http://docs.fireloop.io/), given in the section https://github.com/mean-expert-official/f

[2018-10-29 14:47] #145 closed, assigned to nobody

[2018-11-12 13:09] gewubuntu commented on #148
i dont think fireloop is still maintained

[2018-12-29 22:28] joschne commented on #148
What's the reason for not maintaining fireloop anymore? Is there a better alternative?

[2019-01-31 08:05] jgwinner commented on #148
I was confused myself, but this seems to sum it up:

https://github.com/mean-expert-official/loopback-sdk-builder/issues/561

[2019-04-01 15:30] ElHupeke opened #149 "Fireloop broken with Angular7 /RXJS 6.4?"
#### What type of issue are you creating?
- [ ] Bug
- [ ] Enhancement
- [X] Question

#### What version of this module are you using?
- [X] 2.1.0-beta.n (2.1 Beta n)
- [ ] Other

#### Please add a description for your issue:
After upgrading to Angular7, the newest RXJS was installed. Now the .subscribes won't work anymore. Loading of RealTime module, gives an error.
Is it possible to make adjustme

[2019-04-01 17:34] ElHupeke commented on #149
Seems to it is fixed now:

In socket.connections.ts changed:

Added import:
import { share } from 'rxjs/operators';

changed:
    this.sharedObservables = {
      sharedOnConnect: this.subjects.onConnect.asObservable().share(),
      sharedOnDisconnect: this.subjects.onDisconnect.asObservable().share(),
      sharedOnAuthenticated: this.subjects.onAuthenticated.asObservable().share(),
      shared

[2019-06-23 12:54] basaltedr opened #150 "Hooks don't work"
I created a model user (typescript) by inheriting built-in User model but the hooks do not work on my model user. NB: the remote method works well

[2019-07-09 18:25] basaltedr opened #151 "Realtime don't work"
Real time does not work
When I load my page for the first time the data is loaded but when there is a change on a data, the detection is not triggered.
```fireloop version : 1.0.0-beta.2.7```

[code]

**The first time i load my page the server :**
@mean-expert/loopback-component-realtime: FireLoop is releasing context tree with id 7986488687573 from memory
@mean-expert/loopback-component-realtime: